<header class="ta_center">
  <h1 class="formHeading">管理者を選択し、更新してください</h1>
</header>

<div class="frame">
  <%= form_tag [:admin, @circle], method: :patch do %>
    <ul class="wrap-thinCard">
      <% @memberships.each do |membership| %>
        <% member = membership.member
           checked = membership.admin? %>
        <%= label_tag "member#{member.id}", {class: "test"} do %>
          <li class="thinCard">
            <%= check_box "admin_edit", membership.id, {id: "member#{member.id}", class: "thinCard__checkbox", checked: checked}, true, false %>
            <div class="thinCard__image"></div>
            <div class="thinCard__heading"><%= member.name %></div>
            <div class="thinCard__subhead">ああああ</div>
            <div class="checkbox_style"></div>
            <div class="checkbox_cover"></div>
          </li>
        <% end %>
      <% end %>
    </ul>

    <div class="ta_center">
      <%= submit_tag "更新" , class: "button button_size_medium button_color_blue"%>
    </div>
  <% end %>
</div>