<header class="ta_center">
  <h1 class="formHeading">管理者を選択し、更新してください</h1>
</header>

<div class="frame">
  <%= form_tag [:admin, @circle], method: :patch do %>
    <ul class="wrap-thinCard">
      <% @memberships.each do |membership| %>
        <% member = membership.member
           checked = membership.admin? %>
        <li class="thinCard">
          <%= label_tag "member#{member.id}", {class: "wrap_checkbox"} do %>
            <%= check_box "admin_edit", membership.id, {id: "member#{member.id}", class: "thinCard__checkbox", checked: checked}, true, false %>
            <div class="thinCard__image c_picutre" style="background-image: url(<%= member.picture %>)"></div>
            <div class="thinCard__heading"><%= member.name %></div>
            <div class="thinCard__subhead"><%= member.basic_info %></div>
            <div class="checkbox_style"></div>
            <div class="checkbox_cover"></div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="ta_center">
      <%= submit_tag "更新" , class: "button button_size_medium button_color_blue"%>
    </div>
  <% end %>
</div>

<%= link_to "管理者設定へ戻る", [:status, :edit, @circle], class: "button button_size_medium button_color_gray"%>