<header>
  <h1 class="formHeading">編集者更新確認</h1>
</header>

<div class="frame">

  <h2 class="frame__heading frame__heading_underline">権限を追加</h2>
  <% @added_editors.each do |ms| %>
  <div class="menbarCard">
    <div class="menbarCard__image"></div>
    <div class="menbarCard__heading"><%= ms.member.name %></div>
    <div class="menbarCard__subhead"><%= ms.member.basic_info %></div>
  </div>
  <% end %>

  <h2 class="frame__heading frame__heading_underline">権限を削除</h2>
  <% @removed_editors.each do |ms| %>
    <div class="menbarCard">
      <div class="menbarCard__image"></div>
      <div class="menbarCard__heading"><%= ms.member.name %></div>
      <div class="menbarCard__subhead"><%= ms.member.basic_info %></div>
    </div>
  <% end %>

</div>

<%= form_tag [:editor, @circle], method: :patch do %>
  <% @added_editors.each do |ms| %>
    <%= hidden_field "added_editor", ms.id %>
  <% end %>
  <% @removed_editors.each do |ms| %>
    <%= hidden_field "removed_editor", ms.id %>
  <% end %>

  <%= hidden_field_tag "editor_update_confirmed", true %>
  <div class="ta_center">
    <%= submit_tag "更新" , class: "button button_size_medium button_color_blue"%>
  </div>
<% end %>