
<h1>編集者更新確認</h1>

<h2>権限を追加</h2>
<ul>
  <% @added_editors.each do |ms| %>
    <li>
      <div>画像はいるとこ</div>
      <div><%= ms.member.name %></div>
    </li>
  <% end %>
</ul>

<h2>権限を削除</h2>
<ul>
  <% @removed_editors.each do |ms| %>
    <li>
      <div>画像はいるとこ</div>
      <div><%= ms.member.name %></div>
    </li>
  <% end %>
</ul>

<%= form_tag [:editor, @circle], method: :patch do %>
  <% @added_editors.each do |ms| %>
    <%= hidden_field "added_editor", ms.id %>
  <% end %>
  <% @removed_editors.each do |ms| %>
    <%= hidden_field "removed_editor", ms.id %>
  <% end %>

  <%= hidden_field_tag "editor_update_confirmed", true %>
  <div class="ta_center">
    <%= submit_tag "更新" , class: "button button_size_medium button_color_blue"%>
  </div>
<% end %>