<div class="frame">

  <div class="frame__heading frame__heading_underline">代表</div>
  <div class="wrap_menbarard">
    <% @chiefs.each do |ms| %>
      <% member = ms.member %>
      <div class="menbarCard">
        <div class="menbarCard__image" style="background-image: url(<%= member.picture %>)"></div>
        <div class="menbarCard__heading"><%= member.name %></div>
        <div class="menbarCard__subhead"><%= member.basic_info %></div>
      </div>
    <% end %>
  </div>

  <div class="frame__heading frame__heading_underline">管理者</div>
  <div>
    <% @admins.each do |ms| %>
      <% member = ms.member %>
      <div class="menbarCard">
        <div class="menbarCard__image" style="background-image: url(<%= member.picture %>)"></div>
        <div class="menbarCard__heading"><%= member.name %></div>
        <div class="menbarCard__subhead"><%= member.basic_info %></div>
      </div>
    <% end %>
  </div>

  <div class="frame__heading frame__heading_underline">編集者</div>
  <div>
    <% @editors.each do |ms| %>
      <% member = ms.member %>
      <div class="menbarCard">
        <div class="menbarCard__image" style="background-image: url(<%= member.picture %>)"></div>
        <div class="menbarCard__heading"><%= member.name %></div>
        <div class="menbarCard__subhead"><%= member.basic_info %></div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "管理者設定へ戻る", [:status, :edit, @circle], class: "button button_size_medium button_color_gray"%>