<header>
  <h2 class="formHeading ta_center">ブログ編集</h2>
</header>

<div class="form">
  <%= form_for([@blog.circle, @blog]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title ,"ブログタイトル", class: "form__item"%>
    <%= f.text_field :title , class: "form__text_field" %>

    <% for i in 1..3 %>
      <%= f.label "header_#{i}".to_sym, "見出し#{i}", class: "form__item"%>
      <%= f.text_field "header_#{i}".to_sym, class: "form__text_field" %>

      <% plab = "picture_#{i}" %>
      <p>
        <%= f.label plab.to_sym, "画像#{i}" %>
        <div style="width: 100px;">
          <%= image_tag @blog[plab] ? @blog[plab].url : nil , class: "blog_picture_#{i}"%>
        </div>
        <%= f.file_field "picture_#{i}".to_sym %>
      </p>

      <%= f.label "content_#{i}".to_sym, "内容#{i}", class: "form__item"%>
      <%= f.text_field "content_#{i}".to_sym, class: "form__text_area" %>

    <% end %>
    <div class="form__button">
      <%= f.submit "編集" , class: "button button_size_large button_color_blue"%>
    </div>
  <% end %>
  <%= link_to "このブログを削除", [@blog.circle, @blog], method: :delete, data: { confirm: "本当に削除しますか？" } %>
</div>
