<header>
  <h2 class="formHeading ta_center">ブログを編集</h2>
</header>

<div class="form">
  <%= form_for([@blog.circle, @blog]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title ,"タイトル", class: "form__item"%>
  <%= f.text_field :title , class: "form__text_field"%>

  <%= f.label :content ,"本文", class: "form__item"%>
  <%= f.text_area :content , class: "form__text_area"%>

  <p>
    <%= f.label :picture, "画像" %>
    <div style="width: 100px;">
      <% if @blog.picture %>
        <%= image_tag @blog.picture.url, class: "blog_picture"%>
      <% else %>
        <%= image_tag class: "blog_picture"%>
      <% end %>
    </div>
    <div class="form__upload ta_center">画像を選択
    <%= f.file_field :picture , class: "form__file"%>
    </div>
  </p>
  <div class="form__button">
    <%= f.submit "更新" , class: "button button_size_large button_color_blue"%>
  
  <% end %>
  <%= link_to "このブログを削除", [@blog.circle, @blog], method: :delete, data: { confirm: "本当に削除しますか？" } , class: "button button_size_large button_color_red"%>
  </div>
</div>
