<header>
	<h1 class="heading ta_center">ブログ作成</h1>
</header>


<div class="form">
  <%= form_for([:circle, @blog]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title ,"ブログタイトル", class: "form__item"%>
    <%= f.text_field :title , class: "form__text_field" %>

    <%= f.label :content ,"本文", class: "form__item"%>
    <%= f.text_area :content , class: "form__text_area" %>
	<div class="form__buttun">
		<%= f.submit "投稿" ,  class: "buttun buttun_size_large buttun_color_blue"%>
	</div>
  <% end %>
</div>