<header>
	<h1 class="formHeading ta_center">ブログ作成</h1>
</header>


<div class="form">
  <%= form_for([:circle, @blog]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title ,"ブログタイトル", class: "form__item"%>
    <%= f.text_field :title , class: "form__text_field" %>

    <%= f.label :content ,"本文", class: "form__item"%>
    <%= f.text_area :content , class: "form__text_area" %>

    <p>
      <%= f.label :picture, "画像" %>
      <div style="width: 100px;">
        <% if @blog.picture %>
          <%= image_tag @blog.picture.url, class: "blog_picture"%>
        <% else %>
          <%= image_tag class: "blog_picture"%>
        <% end %>
      </div>
      <%= f.file_field :picture %>
    </p>
    <div class="form__button">
      <%= f.submit "投稿" , class: "button button_size_large button_color_blue"%>
    </div>
  <% end %>
</div>