<%= link_to @circle, class: "link_fill" do %>
  <header class="header c_picture" style="background-image: url(<%= @circle.header_picture %>);"></header>
<% end %>

<div class="author">
  <div class="author__image c_picture" style="background-image: url(<%= @author.picture_url %>);"></div>
  <div class="author__name"><span class="author__autor">投稿者:</span><%= link_to @author.name, @author , class: "text_decoration_none color_gray"%></div>
  <p class="author__subhead"><%= link_to @circle.name, @circle , class: "text_decoration_none color_gray"%></p>
</div>

<div class="article">
  <h1 class="article__title"><%= @blog.title %></h1>

  <% for i in 1..3 do %>
    <div class="article__subhead"><%= @blog["header_#{i}"] %></div>
    <%= image_tag @blog["picture_#{i}"] ? @blog.picture(i).url : "" , class: "article__image"%>
    <% if !@blog["content_#{i}"].blank? %>
      <% @blog["content_#{i}"].lines.each do |line| %>
        <p class="article__text"><%= line %></p>
      <% end %>
    <% end %>
  <% end %>

</div>

<% if @author == current_user %>
  <div class="ta_center">
    <%= link_to "編集", [:edit, @circle, @blog] , class: "button button_size_medium button_color_blue "%>
  </div>
<% end %>