<div class="whole_wrap">

	<header class="header">
		<div class="header__background" style="overflow: hidden;">
			<%= image_tag @blog.picture.url %>
		</div>
		<div class="author">
			<div class="author__image"></div>
			<div class="author__name"><span class="author__autor">投稿者:</span><%= link_to @author.name, @author , class: "text_decoration_none color_black"%></div>
			<p class="author__subhead"><%= link_to @circle.name, @circle , class: "text_decoration_none color_gray"%></p>
		</div>
	</header>
	<div class="article">
		<h1 class="article__title"><%= @blog.title %></h1>
		<p class="article__text"><%= @blog.content %></p>

	</div>

	<div class="sns ta_center">
		<a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<!-- <a href="http://www.facebook.com/share.php?u="><div class="sns__facebook">facebook(準備中)</div></a> -->
	</div>

	<% if @author == current_user %>
		<div class="ta_center">
		  <%= link_to "編集", [:edit, @circle, @blog] , class: "button button_size_medium button_color_blue "%>
		</div>
	<% end %>

</div>