<div class="whole_wrap">

  <header class="header">
    <div class="header__background c_picture" style="background-image: url(<%= @circle.header_picture %>);">
      <%# image_tag @blog.picture_1 ? @blog.picture_1 : nil %>
    </div>
    <div class="author">
      <div class="author__image c_picture" style="background-image: url(<%= @author.picture %>);"></div>
      <div class="author__name"><span class="author__autor">投稿者:</span><%= link_to @author.name, @author , class: "text_decoration_none color_black"%></div>
      <p class="author__subhead"><%= link_to @circle.name, @circle , class: "text_decoration_none color_gray"%></p>
    </div>
  </header>
  <div class="article">
    <h1 class="article__title"><%= @blog.title %></h1>

    <% for i in 1..3 do %>
      <h2 class="article__subhead"><%= @blog["header_#{i}"] %></h2>
      <%= image_tag @blog["picture_#{i}"] ? @blog.picture(i).url : nil , class: "article__image"%>
      <p class="article__text"><%= simple_format(h(@blog["content_#{i}"])) %></p>
    <% end %>

  </div>

  <% if @author == current_user %>
    <div class="ta_center">
      <%= link_to "編集", [:edit, @circle, @blog] , class: "button button_size_medium button_color_blue "%>
    </div>
  <% end %>

</div>