<header>
    <h1 class="formHeading ta_center">新規アカウント登録</h1>
</header>

<div class="form">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <%= f.label :email , class: "form__item" %>
      <%= f.email_field :email, autofocus: true , class: "form__text_field" %>

      <%= f.label :password , "パスワード(6文字以上)" , class: "form__item" %>
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" , class: "form__text_field" %>

      <%= f.label :password_confirmation ,"確認用パスワード", class: "form__item" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form__text_field" %>

      <div class="form__buttun">
        <%= f.submit "Sign up" , class: "buttun buttun_size_large buttun_color_blue" %>
      </div>
  <% end %>

</div>

<%= render "devise/shared/links" %>
