
<header>
  <h1 class="formHeading ta_center">通知</h1>
</header>

<ul>
  <% @notifications.each do |notification| %>
    <li class="notice">
      <% if notification.followed? %>
        <% user = notification.user %>
        <%= link_to user do %>
          <div class="notice__description"><%= user.name %>さんがあなたをフォローしました。</div>
          <div class="notice__content noticeFollow">
            <div class="noticeFollow__image" style="background-image: url(<%= user.header_picture %>)"></div>
            <div class="noticeFollow__heading"><%= user.name %></div>
            <div class="noticeFollow__subhead">
              <%= user.college %>/<%= user.department %>/<%= user.grade %>年
            </div>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>