
<header>
  <h1 class="formHeading ta_center">通知</h1>
</header>

<ul class="wrap_notice">
  <% @notifications.each do |notification| %>
    <% user = notification.user %>
    <% circle = notification.circle %>
    <% blog = notification.blog %>
    <li class="notice <%# @checking_notification_ids.include?(notification.id) ? "" : "thinCard_already" %>">
      <!-- フォローされました通知 -->
      <% if notification.followed? && user %>
        <%= link_to user do %>
          <div class="notice__description"><%= user.name %>さんがあなたをフォローしました。</div>
          <div class="notice__content noticeFollow">
            <div class="noticeFollow__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
            <div class="noticeFollow__heading"><%= user.name %></div>
            <div class="noticeFollow__subhead"><%= user.basic_info %></div>
            <div class="noticeFollow__follow"></div>
          </div>
        <% end %>
      <% elsif notification.new_user_blog? && blog %>
        <%= link_to [blog.circle, blog] do %>
          <div class="notice__description"><%= user.name %>さんが新しいブログを投稿しました。</div>
          <div class="notice__content noticeBlog">
            <div class="noticeBlog__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
            <div class="noticeBlog__heading"><%= blog.title %></div>
            <div class="noticeBlog__subhead"><%= blog.content_1 %></div>
          </div>
        <% end %>
      <% elsif notification.favorited? && user && circle %>
        <%= link_to user do %>
          <div class="notice__description"><%= user.name %>さんから<%= circle.name %>へ気になるが来ました。</div>
          <div class="notice__content noticeFollow">
            <div class="noticeFollow__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
            <div class="noticeFollow__heading"><%= user.name %></div>
            <div class="noticeFollow__subhead"><%= user.basic_info %></div>
            <div class="noticeFollow__follow"></div>
          </div>
        <% end %>
      <% elsif notification.new_member? && user && circle %>
        <%= link_to user do %>
          <div class="notice__description"><%= user.name %>さんから<%= circle.name %>へメンバー申請が来ました。</div>
          <div class="notice__content noticeFollow">
            <div class="noticeFollow__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
            <div class="noticeFollow__heading"><%= user.name %></div>
            <div class="noticeFollow__subhead"><%= user.basic_info %></div>
            <div class="noticeFollow__follow"></div>
          </div>
        <% end %>
      <% elsif notification.contacted? && user && circle %>
        <%= link_to user do %>
          <div class="notice__description"><%= user.name %>さんから<%= circle.name %>へお問い合わせが来ました。</div>
          <div class="notice__content noticeFollow">
            <div class="noticeFollow__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
            <div class="noticeFollow__heading"><%= user.name %></div>
            <div class="noticeFollow__subhead"><%= user.basic_info %></div>
            <div class="noticeFollow__follow"></div>
          </div>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
