<header>
  <h1 class="formHeading ta_center">プロフィール編集</h1>
</header>

<div class="form">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if @edit_item %>
    <% if @edit_item == "categories" %>
      <label class="form__item">興味のあるカテゴリー</label>
      <% @category_ids.each_with_index do |id, i| %>
        <div class="wrap_select">
          <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id]}, {selected: id, prompt: "☆"*(3-i)} , {class: "selectbox"}%>
        </div>
      <% end %>
    <% elsif @edit_item == "birth_place" || @edit_item ==  "home_place" %>
      <div class="wrap_select">
        <%= f.select @edit_item, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
      </div>
    <% else %>
      <%= f.label @edit_item , class: "form__item"%>
      <%= f.text_area @edit_item , class: "form__text_area"%>
      <%= f.hidden_field :edit_item, :value => @edit_item %>
    <% end %>

  <% else %>
    <%= f.label :name, "名前" , class: "form__item" %>
    <%= f.text_field :name , class: "form__text_field" %>

    <%= f.label :sex, "性別" , class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :sex, {"男性" => 0, "女性" => 1}, {include_blank: true}, {class: "selectbox"} %>
    </div>


    <%= label_tag nil, "大学名検索", class: "form__item" %>
    <%= text_field_tag :keyword, nil, {id: "college_keyword"} %>
    <div id="search_button" style="border: 1px solid #000; padding: 3px; width: 100px;">検索</div>

    <%= f.label :college, "大学" , class: "form__item" %>
    <div class="wrap_select" id="college_select_wrap">
      <%= render "shared/college_select", {colleges: @colleges, name: "user[college]"} %>
    </div>


    <%= f.label :department, "学部" , class: "form__item form__item_number" %>
    <%= f.text_field :department , class: "form__text_field form__text_field" %>

    <%= f.label :grade, "学年" , class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :grade, ["1", "2", "3", "4", "修士1", "修士2", "その他"], {include_blank: true}, {class: "selectbox"} %>
    </div>

    <%= f.label :birth_place, class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :birth_place, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
    </div>

    <%= f.label :home_place, class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :home_place, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
    </div>

    <div class="form__images ta_center">
      <div>
        <%= image_tag @user.picture ? @user.picture.url : nil, class: "user_picture"%>
      </div>
      <div class="form__upload">プロフィール画像を選択
        <%= f.file_field :picture , class: "form__file"%>
      </div>
    </div>

    <div class="form__images ta_center">
      <div class="ta_center">
        <%= image_tag @user.header_picture ? @user.header_picture.url : nil, class: "user_header_picture"%>
      </div>
      <div class="form__upload">ヘッダー画像を選択
        <%= f.file_field :header_picture, class: "form__file"%>
      </div>
    </div>

  <% end %>

    <div class="form__button">
      <%= f.submit "更新" , class: "button button_size_large button_color_blue"%>
    </div>
  <% end %>
</div>
