<header>
  <h1 class="formHeading ta_center">プロフィール編集</h1>
</header>

<div class="form">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if @edit_item %>
    <% if @edit_item == "categories" %>
      <label class="form__item">興味のあるカテゴリー</label>
      <% @category_ids.each_with_index do |id, i| %>
        <div class="wrap_select">
          <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id]}, {selected: id, prompt: "☆"*(3-i)} , {class: "selectbox"}%>
        </div>
      <% end %>
    <% elsif @edit_item == "birth_place" || @edit_item == "home_place" %>
      <div class="wrap_select">
        <%= f.select @edit_item, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
      </div>
    <% else %>
      <%= f.label @edit_item , class: "form__item"%>
      <%= f.text_area @edit_item , class: "form__text_area"%>
      <%= f.hidden_field :edit_item, value: @edit_item %>
    <% end %>

  <% else %>
    <%= f.label :name, "名前" , class: "form__item" %>
    <%= f.text_field :name , class: "form__text_field" %>

    <%= f.label :sex, "性別" , class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :sex, {"男性" => 0, "女性" => 1}, {include_blank: true}, {class: "selectbox"} %>
    </div>


    <div class="margin_bottom_1rem">
      <label for="change_college" class="form__item form__item_number">大学選択</label>
      <input type="checkbox" id="change_college" class="inline_block">
    </div>
    <div class="whole_from" id="college_form">
        <%= label_tag nil, "大学名検索", class: "form__item" %>
      <div class="margin_top_05rem margin_bottom_1rem">
        <%= text_field_tag :keyword, nil, {id: "college_keyword" , class: "form__text_field form__text_field_70"} %>
        <div id="college_search_button" class="button button_size_small button_color_white">検索</div>
      </div>
      <%= f.label :college, "大学", class: "form__item" %>
      <div class="wrap_select" id="college_select_wrap">
        <%= render "shared/ajax_select", {elements: nil, request_type: "colleges"} %>
      </div>

      <%= f.label :faculty, "学部" , class: "form__item" %>
      <div class="wrap_select" id="faculty_select_wrap">
        <%= render "shared/ajax_select", {elements: nil, request_type: "faculties"} %>
      </div>

    </div>

    <%= f.label :grade, "学年" , class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :grade, ["1", "2", "3", "4", "修士1", "修士2", "その他"], {include_blank: true}, {class: "selectbox"} %>
    </div>

    <%= f.label :birth_place, class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :birth_place, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
    </div>

    <%= f.label :home_place, class: "form__item" %>
    <div class="wrap_select">
      <%= f.select :home_place, @prefectures.map{|t|[t,t]}, { include_blank: true } , {class: "selectbox"} %>
    </div>

    <%= label_tag nil, "興味のあるカテゴリー", class: "form__item" %>
    <% @category_ids.each_with_index do |id, i| %>
      <div class="wrap_select">
        <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id]}, {selected: id, prompt: "☆"*(3-i)} , {class: "selectbox"}%>
      </div>
    <% end %>

    <div class="form__images ta_center margin_top_05rem">
      <div class="wrap_form__noImage_prof">
        <div class="user_picture form__noImage_prof c_picture" style="background-image: url(<%= @user.picture_url %>);" ></div>
      </div>
      <div class="form__upload">プロフィール画像を選択
        <%= f.file_field :picture , class: "form__file"%>
      </div>
    </div>

    <div class="form__images ta_center margin_top_1rem">
      <div class="wrap_form__noImage">
        <div class="user_header_picture form__noImage c_picture" style="background-image: url(<%= @user.header_picture %>);" %></div>
      </div>
      <div class="form__upload">ヘッダー画像を選択
        <%= f.file_field :header_picture, class: "form__file"%>
      </div>
    </div>

  <% end %>

    <div class="form__button">
      <%= f.submit "更新" , class: "button button_size_large button_color_blue"%>
    </div>
  <% end %>
</div>

<% if @user.college.blank? %><span id="college_blank"></span><% end %>

<script>
  $(function(){
  })
</script>




