<header>
  <h1 class="heading ta_center">プロフィール編集</h1>
</header>

<div class="form">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if @edit_item %>
    <%= f.label @edit_item %>
    <%= f.text_area @edit_item %>
    <%= f.hidden_field :edit_item, :value => @edit_item %>
  <% else %>
    <%= f.label :name, "名前" , class: "form__item" %>
    <%= f.text_field :name , class: "form__input" %>

    <%= f.label :college, "大学" , class: "form__item" %>
    <%= f.text_field :college , class: "form__input" %>

    <%= f.label :department, "学部" , class: "form__item form__item_number" %>
    <%= f.text_field :department , class: "form__input form__input_number" %>

    <%= f.label :grade, "学年" , class: "form__item" %>
    <%= f.text_field :grade , class: "form__input form__input_number" %>

    <div class="form__images ta_center">
      <%= f.label :picture, "プロフィール画像" , class: "form__item"%>
      <div>
        <% if @user.picture %>
          <%= image_tag @user.picture.url %>
        <% end %>
      </div>
      <%= f.file_field :picture , class: "form__file buttun_color_white"%>
    </div>

    <div class="form__images ta_center">
      <%= f.label :header_picture, "ヘッダー画像" , class: "form__item"%>
      <div class="ta_center">
        <% if @user.header_picture %>
          <%= image_tag @user.header_picture.url%>
        <% end %>
      </div>
      <%= f.file_field :header_picture , class: "form__file buttun_color_white"%>
    </div>

  <% end %>

    <div class="form__buttun">
      <%= f.submit "更新" , class: "buttun buttun_size_large buttun_color_blue"%>
    </div>
  <% end %>
</div>
