<header>
	<h1 class="heading ta_center"><%= @title %></h1>
</header>

<div class="list__wrap">
	<% if @users.any? %>
  	<ul>
    	<% @users.each do |user| %>
      		<li class="list"><%= link_to user.name, user , class: "list__name"%>
      			<div class="list__image" style="background-image: url(<%= user.picture %>)"></div>
      			<div class="list__subhead"><%= user.college %>
            <% if user.grade.present? && user.grade > 0 %>
              / <%= user.grade %>
            <% end %>
            </div>
      		</li>
    <% end %>
  	</ul>
	<% end %>
</div>


