<% if current_user?(@user) %>
  <div class="body_wrap"></div>
  <div class="sideMenu">
    <ul class="sideMenu__lists">
      <li class="sideMenu__item sideMenu_close">閉じる</li>
      <li class="sideMenu__item"><%= link_to "プロフィール編集", [:edit, @user] %></li>
      <li class="sideMenu__item restricted"><%= link_to "新規団体登録", [:new, :circle] %></li>
      <li class="sideMenu__item"><%= link_to "その他", [:rest, @user] %></li>
    </ul>
  </div>
<% end %>

<header class="header">
  <div class="header__background c_picture" style="background-image: url(<%= @user.header_picture %>)"></div>
  <div class="header__photo_user c_picture" style="background-image: url(<%= @user.picture %>);"></div>
  <h1 class="header__name header__name_noBelonge"><%= @user.name %></h1>
  <% if current_user?(@user) %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
    <div class="header__foot">
      <%= link_to image_tag("foot.png"), [:foots, @user], class: "foot" %>
      <% if user_signed_in? && current_user.new_foots_count && 0 < current_user.new_foots_count %>
        <div class="header__notice"><%= current_user.new_foots_count %></div>
      <% end %>
    </div>
  <% end %>
</header>

<!-- 丸タイプのフォロー関連 -->
<div class="wrap_follow_round ta_center margin_top_3rem">
  <% if user_signed_in? && current_user?(@user) %>
    <div class="follow_round follow_round_setting">
      <%= link_to [:edit, @user] , class: "follow__link" do %>
      <span id="following_count" class="follow__number" ><br><span class="small_text">編集</span>
      <% end %>
    </div>
  <% end %>
  <div class="follow_round">
    <%= link_to [:following, @user] , class: "follow__link link_fill" do %>
      <span id="following_count" class="follow__number" ><%= @user.following.count %><br><span class="small_text">フォロー</span>
      </span>
    <% end %>
  </div>
  <div class="follow_round">
    <%= link_to [:followers, @user] , class: "follow__link link_fill" do %>
      <span id="followers_count" class="follow__number" ><%= @user.followers.count %><br><span class="small_text">フォロワー</span>
      </span>
    <% end %>
  </div>
  <div class="follow_round">
    <%= link_to [:favorites, @user] , class: "follow__link link_fill" do %>
      <span id="following_count" class="follow__number" ><%= @user.favorites.count %><br><span class="small_text">気になる</span>
      </span>
    <% end %>
  </div>
</div>


<div class="ta_center margin_top_1rem">
  <% if user_signed_in? && !current_user?(@user) %>
    <div id="follow_form" class="restricted">
      <%= render !current_user.following?(@user) ? "follow" : "unfollow" %>
    </div>
    <div class="button button_round button_color_blue">
      <%= link_to "メッセージを送る", [:new, :message_room, user_id: @user.id], class: "header__message link_fill color_white" %>
    </div>
  <% end %>
</div>

<section class="frame">
  <% if @user.circles.any? %>
    <div class="frame__heading frame__heading_side">所属団体</div>
  <% end %>
  <ul class="wrap_belong">
    <% @user.circles.each do |circle| %>
      <li class="belong">
        <%= link_to circle,class: "link_fill" do %>
          <div class="belong__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
          <div class="belong__heading"><%= circle.name %></div>
          <div class="belong__description"><%= circle.description %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<section class="frame">
  <h2 class="frame__heading frame__heading_side">基本プロフィール</h2>
  <div class="prof_item prof_item_sex">性別：<%= @user.sex_label %></div>
  <div class="prof_item prof_item_school">学年：<%= @user.grade %><%= "年" if !@user.grade.blank? %></div>
  <div class="prof_item prof_item_univercity">大学：<%= @user.college %></div>
  <div class="prof_item prof_item_univPen">学部：<%= @user.faculty %></div>
  <div class="prof_item prof_item_location">出身地：<%= @user.birth_place %></div>
  <div class="prof_item prof_item_home">住まい：<%= @user.home_place %></div>
  <div class="prof_item prof_item_star">興味のあるカテゴリー</div>
  <% for i in 0..(@user.categories.count-1) %>
    <div class="prof_item prof_item_categories"><%= @user.categories[i].name %></div>
  <% end %>
</section>

<section class="frame">
  <h2 class="frame__heading frame__heading_side">詳細プロフィール</h2>
  <% @profiles.each do |key, value| %>
    <div class="introduce">
      <h1 class="introduce__heading"><%= value %></h1>
      <% if key != :categories %>
        <p class="introduce__text"><%= simple_format(h(@user[key])) %></p>
      <% else %>
        <% @user.categories.each do |category| %>
          <p class="introduce__text"><%= category.name %></p>
        <% end %>
      <% end %>
      <% if current_user?(@user) %>
        <div class="introduce__btn">
          <%= link_to '編集', [:edit, @user, edit_item: key], class: "button button_size_small button_color_white" %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>


<div class="alert">
  <div class="alert__box">
    <p class="alert__text">メッセージを送るには、相互にフォローしている必要があります。</p>
    <button class="alert__button button button_size_medium button_color_blue">OK</button>
    <%= image_tag 'close.svg' , class: "prompt__close"%>
  </div>
</div>

<% if user_signed_in? && current_user?(@user) %>
  <div class="user__image_zoom" id="user__picture">
    <div class="user__image c_picture" style="background-image: url(<%= @user.picture %>);"></div>
    <%= link_to "プロフィール編集", [:edit, @user] , class: "button button_border"%>
    <p class="button button_border">閉じる</p>
  </div>

  <div class="user__image_zoom" id="user__header_picture">
    <div class="user__image c_picture" style="background-image: url(<%= @user.header_picture %>);"></div>
    <%= link_to "プロフィール編集", [:edit, @user] , class: "button button_border"%>
    <p class="button button_border">閉じる</p>
  </div>

  <div class="white_back"></div>
<% end %>

<% if user_signed_in? %>
  <% if current_user.mutual_follow?(@user) %><span id="mutual_follow"></span><% end %>
  <% if current_user?(@user) %><span id="current_user"></span><% end %>
<% end %>
<script type="text/javascript">
  $(function(){

    var mutual_follow = $("span#mutual_follow")[0];
    var current_user  = $("span#current_user")[0];

    // 相互フォローでない人にメッセージを送ろうとした場合のポップアップ
    $(".alert").hide();
    $(".alert").on("click", function(){
      $(".alert").fadeOut(300);
    });
    if (!mutual_follow) {
      $(".header__message").on("click",function(){
        $(".alert").fadeIn(300);
        return false;
      });
    }

    // 個人ページ、プロフィール画像からの編集
    $(".user__image_zoom").hide();
    if (current_user) {
      $(".header__photo_user").on("click",function(){
        $("#user__picture").fadeIn(100);
      });
      $(".header__background").on("click",function(){
        $("#user__header_picture").fadeIn(100);
      });
      $(".user__image_zoom").on("click",function(){
        $(".user__image_zoom").fadeOut(100);
      });
    }
  });
</script>

