<header class="header">
  <div class="header__background"></div>
  <div class="header__photo_user"></div>
  <h1 class="header__name_user"><%= @user.name %></h1>
  <p class="header__subhead_user"><%= %>meiji univ. tokyo</p>
  <% if current_user?(@user) %>
  <%= link_to "新規サークル登録", new_circle_path, class: "create_circle_btn"%><% end %>
  <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
  <%= image_tag "foot.png" , class: "header__foot" %>
  <% if !current_user?(@user) %>
    <div id="follow_form" class="buttun buttun_follow butttun_color_white">
      <% if !current_user.following?(@user) %>
        <%= render 'follow' %>
      <% else %>
        <%= render 'unfollow' %>
      <% end %>
    </div>
  <% end %>
</header>

<!-- cssまだ -->
<div class="follow" style="border: 1px solid #000;">
  <p>
    <%= link_to [:following, @user] do %>
      <span id="following_count"><%= @user.following.count %></span>
      フォロー
    <% end %>
  </p>
  <p>
    <%= link_to [:followers, @user] do %>
      <span id="followers_count"><%= @user.followers.count %></span>
      フォロワー
    <% end %>
  </p>
  <p>
    <a href="">お気に入り</a>
  </p>
</div>
<!-- cssまだ -->

<section class="user__body">
  <div class="introduce">
    <h1 class="introduce__heading">自己紹介</h1>
    <p class="introduce__text"><%= @user.introduce %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "introduce"), class: "buttun buttun_size_small buttun_color_white" %>
    </div>
    <% end %>
  </div>

  <div class="introduce">
    <h1 class="introduce__heading">やりたいこと</h1>
    <p class="introduce__text"><%= @user.want_to_do %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "want_to_do"), class: "buttun buttun_size_small buttun_color_white" %>
    </div>
    <% end %>
  </div>

  <div class="introduce">
    <h1 class="introduce__heading">趣味</h1>
    <p class="introduce__text"><%= @user.hobby %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "hobby"), class: "buttun buttun_size_small buttun_color_white" %>
    </div>
    <% end %>
  </div>

</section>