<div class="whole_wrap">

<% if current_user?(@user) %>
  <div class="body_wrap"></div>
  <div class="aside__menu">
    <ul class="aside__menu_lists">
      <li class="aside__menu_list aside__menu_close">
        <%= link_to '閉じる', @user, class: "wrap__link" %>
      </li>
      <li class="aside__menu_list"><%= link_to "プロフィール編集", [:edit, @user] %></li>
      <li class="aside__menu_list">
        <%= link_to "新規サークル登録", [:new, :circle], class: "create_circle_btn"%>
      </li>
      <li class="aside__menu_list"><%= link_to "ログアウト", [:destroy, :user, :session], method: :delete %></li>
    </ul>
  </div>
<% end %>

<header class="header">
  <div class="header__background" style="background-image: url(<%= @user.header_picture %>)"></div>
  <div class="header__photo_user" style="background-image: url(<%= @user.picture %>);"></div>
  <h1 class="header__name_user"><%= @user.name %></h1>
  <p class="header__subhead_user"><%= @user.college %>/<%= @user.department %>/<%= @user.grade %>年</p>
  <% if current_user?(@user) %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
    <% if @user.circles.any? %>
      <%= link_to image_tag("foot.png"), [:foots, @user], class: "header__foot" %>
    <% end %>
  <% end %>
  <% if !current_user?(@user) %>
    <div class="button button_follow button_color_white">
      <div id="follow_form">
        <% if !current_user.following?(@user) %>
          <%= render 'follow' %>
        <% else %>
          <%= render 'unfollow' %>
        <% end %>
      </div>
    </div>
  <% end %>
</header>
<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<div class="follow">
  <ul class="follow__wrap">
    <li class="follow__list">
      <%= link_to [:following, @user] , class: "follow__link" do %>
        <span id="following_count" class="follow__number" ><%= @user.following.count %></span>フォロー
      <% end %>
    </li>
    <li class="follow__list">
      <%= link_to [:followers, @user] , class: "follow__link" do %>
      <span id="followers_count" class="follow__number" >
      <%= @user.followers.count %></span>フォロワー
      <% end %>
    </li>
    <li class="follow__list">
      <%= link_to @user.favorites.count.to_s+" お気に入り", [:favorites, @user] , class: "follow__link" %>
    </li>
  </ul>
</div>

<section class="user__body">
  <div class="introduce">
    <h1 class="introduce__heading">自己紹介</h1>
    <p class="introduce__text"><%= @user.introduce %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "introduce"), class: "button button_size_small button_color_white" %>
    </div>
    <% end %>
  </div>

  <div class="introduce">
    <h1 class="introduce__heading">やりたいこと</h1>
    <p class="introduce__text"><%= @user.want_to_do %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "want_to_do"), class: "button button_size_small button_color_white" %>
    </div>
    <% end %>
  </div>

  <div class="introduce">
    <h1 class="introduce__heading">趣味</h1>
    <p class="introduce__text"><%= @user.hobby %></p>
    <% if current_user?(@user) %>
    <div class="introduce__btn">
      <%= link_to '編集', edit_user_path(current_user, edit_item: "hobby"), class: "button button_size_small button_color_white" %>
    </div>
    <% end %>
  </div>

</section>

</div>