<header class="user_header">
  <h2><%= @user.name %></h2>
  <% if current_user?(@user) %>
    <%= link_to "+", new_circle_path, class: "create_circle_btn"%>
  <% end %>
</header>

<div class="follow" style="border: 1px solid #000;">
  <p><%= @user.following.count %> フォロー</p>
  <p><%= @user.followers.count %> フォロワー</p>
</div>

<div class="profile">
  <div class="profile-content">
    <h3>自己紹介</h3>
    <div><%= @user.introduce %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "introduce"), class: "edit-btn" %>
    <% end %>
  </div>

  <div class="profile-content">
    <h3>やりたいこと</h3>
    <div><%= @user.want_to_do %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "want_to_do"), class: "edit-btn" %>
    <% end %>
  </div>

  <div class="profile-content">
    <h3>趣味</h3>
    <div><%= @user.hobby %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "hobby"), class: "edit-btn" %>
    <% end %>
  </div>

</div>