<header class="user_header">
  <h2><%= @user.name %></h2>
  <% if current_user?(@user) %>
    <%= link_to "+", new_circle_path, class: "create_circle_btn"%>
  <% end %>

  <%= form_for(@user, html: { multipart: true }) do |f| %>
    <div
      style="
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 100px;
        height: 100px;
        border: 1px solid #999;
        border-radius: 50%;
      ">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png',
        style: "
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          font-size: 120px;
          cursor: pointer;
          "
      %>
    </div>
  <% end %>
</header>

<div class="follow" style="border: 1px solid #000;">
  <p>
    <%= link_to [:following, @user] do %>
      <span id="following_count"><%= @user.following.count %></span>
      フォロー
    <% end %>
  </p>
  <p>
    <%= link_to [:followers, @user] do %>
      <span id="followers_count"><%= @user.followers.count %></span>
      フォロワー
    <% end %>
  </p>
  <% if !current_user?(@user) %>
    <div id="follow_form">
      <% if !current_user.following?(@user) %>
        <%= render 'follow' %>
      <% else %>
        <%= render 'unfollow' %>
      <% end %>
    </div>
  <% end %>

  <p><%= link_to @user.favorites.count.to_s+"気になる", [:favorites, @user] %></p>
</div>

<div class="profile">
  <div class="profile-content">
    <h3>自己紹介</h3>
    <div><%= @user.introduce %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "introduce"), class: "edit-btn" %>
    <% end %>
  </div>

  <div class="profile-content">
    <h3>やりたいこと</h3>
    <div><%= @user.want_to_do %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "want_to_do"), class: "edit-btn" %>
    <% end %>
  </div>

  <div class="profile-content">
    <h3>趣味</h3>
    <div><%= @user.hobby %></div>
    <% if current_user?(@user) %>
      <%= link_to '編集', edit_user_path(current_user, edit_item: "hobby"), class: "edit-btn" %>
    <% end %>
  </div>

</div>