<div class="page">
  <% @blogs.each do |blog| %>
    <li class="thinCard">
      <%= link_to [blog.circle, blog], class: "link_fill" do %>
        <div class="thinCard__image c_picture" style="background-image: url(<%= blog.picture_1 %>)"></div>
        <p class="thinCard__heading"><%= blog.title %></p>
        <p class="thinCard__subhead"><%= blog.content_1 %></p>
        <span class="thinCard__date"><%= blog.created_at.in_time_zone('Tokyo').strftime("%y/%m/%d") %></span>
        <span class="thinCard__time"><%= blog.created_at.in_time_zone('Tokyo').strftime("%k:%M") %></span>
      <% end %>
    </li>
  <% end %>
</div>