<%
oclass        = objects.first.class
oc_eq_user    = oclass == User
oc_eq_contact = oclass == Contact
oc_eq_blog    = oclass == Blog
oc_eq_event   = oclass == Event
heading_sym   = oc_eq_user ? :name : :title
%>
<ul class="wrap-thinCard">
  <% objects.each do |object| %>
    <li class="thinCard">

      <%
      link_url = oc_eq_user    ? object :
                 oc_eq_contact ? [object.receive_circle, object] : [object.circle, object]
      %>
      <%= link_to link_url, class: "link_fill" do %>

        <% if !oc_eq_contact %>
          <% picture = oc_eq_blog ? object.picture_1 : object.picture %>
          <div class="thinCard__image c_picture" style="background-image: url(<%= picture %>)"></div>
        <% end %>

        <%
        if !oc_eq_contact
          heading = object[heading_sym]
        else
          heading = object.send_user.name
        end %>
        <p class="thinCard__heading"><%= heading %></p>

        <p class="thinCard__subhead"><%=
          if oc_eq_user
            "#{object.basic_info}"
          elsif oc_eq_blog
            object.content_1
          else
            object.content
          end
        %></p>

        <% if params[:controller] == "entries" && params[:action] == "index" %>
          <%
          circle = Circle.find(params[:circle_id])
          entry  = object.entries.find_by(circle_id: params[:circle_id])
          %>
          <%= link_to "承認", [:accept, circle, entry], method: :post , class: "thinCard__permit button button_size_small button_color_blue "%>
        <% end %>

        <% if oc_eq_blog %>
          <span class="thinCard__date"><%# object.created_at.in_time_zone('Tokyo').strftime("%y/%m/%d") %></span>
          <span class="thinCard__time"><%# object.created_at.in_time_zone('Tokyo').strftime("%k:%M") %></span>
          <span class="thinCard__time"><%= object.created_at.in_time_zone('Tokyo').strftime("%y/%m/%d  %k:%M") %></span>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <% if params[:action] != "indexes" && params[:action] != "index"%>
    <%
    circle = Circle.find(params[:id]) if params[:controller] == "circles"
    more_url =
    params[:controller] == "web" ?
      oc_eq_blog ? :blogs : :events
      :
      oc_eq_blog ? [circle, :blogs] : [circle, :events]
    %>
    <% if (oc_eq_blog || oc_eq_event) %>
      <li>
        <%= link_to more_url do %>
          <div class="thinCard thinCard__more">もっと見る</div>
        <% end %>
      </li>
    <% end %>
  <% end %>

</ul>




