<div class="page">
  <% @users.each do |user| %>
    <li class="thinCard">
      <%= link_to user, class: "link_fill" do %>
        <div class="thinCard__image c_picture" style="background-image: url(<%= user.picture_url %>)"></div>
        <p class="thinCard__heading <%= "thinCard__heading_noBelonge" if user.circles.blank? %>"><%= user.name %></p>
        <p class="thinCard__subhead"><%= user.basic_info %></p>
      <% end %>
    </li>
  <% end %>
</div>