<div class="page">
  <% @users.each do |user| %>
    <li class="thinCard <%= "checking" if @checking_footed_user_ids && @checking_footed_user_ids.include?(user.id) %>">
      <%= link_to user, class: "link_fill" do %>
        <div class="thinCard__image c_picture" style="background-image: url(<%= user.picture %>)"></div>
        <p class="thinCard__heading"><%= user.name %></p>
        <p class="thinCard__subhead"><%= user.basic_info %></p>
      <% end %>
    </li>
  <% end %>
</div>