<div class="LP">
	<div class="keyvisual">
		<%= image_tag "union_lp.png" %>
		<% if !user_signed_in? %>
			<div class="keyvisual__inner">
				<%= link_to '新規登録', [:new, :user, :registration], class: "button button_size_medium button_color_blue"%>
				<%= link_to "ログイン", [:new, :user, :session] , class: "button button_size_medium button_color_white"%>
			</div>
		<% end %>
	</div>
	<section class="lp">
		<h1 class="lp__union">What's UNION?</h1>
		<h2 class="lp__heading">Unionはサークルと新入生をつなぐ<br>ソーシャルプラットホームです。</h2>
		<p class="lp__text">大学生が貴重な大学生活を、サークル活動やそこでの出会いを通してさらに充実したものとできるように願っています。 </p>
	</section>
	<%= image_tag "union_lp_user.png" %>
	<section class="lp">
		<h2 class="lp__heading">あなたにぴったりな<br>サークルが見つかります。</h2>
		<p class="lp__text">活動ジャンルや大学など、あなたの求める条件でサークルを検索できます。サークル情報だけでなく、サークルメンバーを知った上でサークルを決めることができます。プロフィールを充実させ、気になるサークルに「気になる」などのアクションをおこすと、そのサークルからのスカウトが受けられます。</p>
	</section>
	<%= image_tag "union_lp_circle.png" %>
	<section class="lp">
		<h2 class="lp__heading">あなたの団体にぴったりな<br>新入生と出会えます。</h2>
		<p class="lp__text">UNIONを利用すれば、これまでより効率良くメンバーを勧誘することができます。新歓情報やイベントの告知を一斉にできたり、ブログの更新によって団体の情報を発信することができます。メンバーと新入生のプロフィールが可視化されていることによって、お互いのことをよく知ることができ、サークルと新入生のミスマッチを防ぎます。</p>
	</section>

	<section class="lp">
		<p class="lp__end">さあ、UNIONを始めよう！</p>
	</section>

	<% if !user_signed_in? %>
		<div class="lp">
			<div class="lp__inner">
				<%= link_to '新規登録', [:new, :user, :registration], class: "button button_size_large button_color_blue"%>
				<%= link_to "ログイン", [:new, :user, :session] , class: "button button_size_large button_color_white"%>
			</div>
		</div>
	<% end %>
</div>