<%= form_for([circle, @event]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title ,"イベント名", class: "form__item"%>
  <%= f.text_field :title , class: "form__text_field"%>

  <div class="margin_bottom_1rem">
    <%= f.label :picture, "画像", class: "form__item" %>
    <div class="form__images ta_center margin_top_05rem">
      <div class="event_picture form__noImage c_picture" style="background-image: url(<%= @event.picture %>);"></div>
        <div class="form__upload ta_center">画像を選択
        <%= f.file_field :picture, class: "form__file" %>
      </div>
    </div>
  </div>

  <%= f.label :content ,"イベント内容", class: "form__item"%>
  <%= f.text_area :content , class: "form__text_area"%>

  <%= f.label :schedule ,"開催日時", class: "form__item"%>
  <%= f.text_field :schedule , class: "form__text_field"%>

  <%= f.label :fee ,"参加費", class: "form__item"%>
  <%= f.text_field :fee , class: "form__text_field"%>

  <%= f.label :capacity ,"定員", class: "form__item"%>
  <%= f.text_field :capacity , class: "form__text_field"%>

  <%= f.label :place ,"開催場所", class: "form__item"%>
  <%= f.text_field :place , class: "form__text_field"%>

  <div class="form__button">
    <%= f.submit label , class: "button button_size_large button_color_blue"%>
  </div>
<% end %>

<script>
  $(function(){
    $("input[type='submit']").on("click", function(){
      var valid = true;
      $(".edit_event input[type='text']").each(function(){
        if(!$(this).val()){
          valid = false;
          $(this).css("border", "1px solid red");
        } else {
          $(this).css("border", "1px solid #ccc");
        }
      });
      if(!$("input[type='file']").val()){
        valid = false;
        $(".form__upload").css({
          "border-top": "1px solid red",
          "color": "red",
        });
        $(".form__images").css("border", "1px solid red");
      } else {
        $(".form__upload").css({
          "border-top": "1px solid #00ACC1",
          "color": "#00ACC1",
        });
        $(".form__images").css("border", "1px solid #00ACC1");
      }
      if(!valid){
        alert("必須項目を入力してください");
        return false;
      }
    });
  });
</script>