<h1>イベント作成</h1>

<div>
  <%= form_for([:circle, @event]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <p>
      <%= f.label :picture, "画像" %>
      <div style="width: 100px;">
        <% if @event.picture %>
          <%= image_tag @event.picture.url, class: "event_picture"%>
        <% else %>
          <%= image_tag class: "event_picture"%>
        <% end %>
      </div>
      <%= f.file_field :picture %>
    </p>

    <%= f.submit "投稿" %>
  <% end %>
</div>