<header class="header">
	<div class="header__background" style="overflow: hidden;">
		<%= image_tag @event.picture.url %>
	</div>
	<div class="author">
		<div class="author__image"></div>
		<div class="author__circle"><span class="author__autor">主催者:</span><%= link_to @circle.name, @circle , class: "td_none color_black"%></div>
	</div>
</header>
<div class="article">
	<h1 class="article__title"><%= @event.title %></h1>
	<p class="article__text"><%= @event.content %></p>

	<p>開催日時</p>
	<p class="article__text"><%= @event.schedule %></p>

	<p>参加費</p>
	<p class="article__text"><%= @event.fee %></p>

	<p>定員</p>
	<p class="article__text"><%= @event.capacity %></p>

	<p>開催場所</p>
	<p class="article__text"><%= @event.place %></p>

</div>


<% if @be_member %>
	<div class="ta_center">
	  <%= link_to "編集", [:edit, @circle, @event] , class: "button button_size_medium button_color_blue "%>
	</div>
<% end %>