<h1>お問い合わせ</h1>

<div>
  <%= form_for([:circle, @contact]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit "確認" %>
  <% end %>
</div>