<header>
	<h1 class="heading ta_center">お問い合わせ</h1>
</header>


<div class="form">
  <%= form_for([:circle, @contact]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :content ,"お問い合わせ内容", class: "form__item"%>
    <%= f.text_area :content ,class: "form__text_area" %>
	<div class="form__buttun">
		<%= f.submit "送信" , class: "buttun buttun_size_large buttun_color_blue"%>
	</div>
  <% end %>
</div>