<header>
  <h1 class="formHeading ta_center">お問い合わせ</h1>
</header>

<div class="form">
  <%= form_for([:circle, @contact]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :content ,"お問い合わせ内容", class: "form__item"%>
    <%= f.text_area :content ,class: "form__text_area" %>
    <div class="form__button">
      <%= f.submit "確認" , class: "button button_size_large button_color_blue"%>
    </div>
  <% end %>
</div>