<header class="formHeading ta_center">
  <h1>ログイン</h1>
</header>

<div class="form">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email , class: "form__item" %>
    <%= f.email_field :email, autofocus: true , class: "form__text_field" %>

    <%= f.label :password , class: "form__item" %>
    <%= f.password_field :password, autocomplete: "off" , class: "form__text_field" %>

  <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, {checked: true} %>
      <%= f.label :remember_me, "パスワードを保存", {class: "normal_text"} %>
  <% end -%>

  <div class="form__button">
    <%= f.submit "ログイン" , class: "button button_size_large button_color_blue" %>
  </div>

  <div class="ta_center">
  <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name) , class: "links__text"%>
  </div>

</div>
<% end %>

<div class="separate"></div>
<!-- <section class="formHeading ta_center ">
  <h1>登録はこちら</h1>
</section> -->
<div class="ta_center margin_top_1rem">
  <%= link_to 'E-mailで登録', [:new, :user, :registration], class: "button button_size_large button_color_white"%>
  <%= link_to "Facebookで登録・ログイン", user_facebook_omniauth_authorize_path , class: "button button_size_large button_facebook"%>
</div>