
<div class="message_rooms">
  <div class="wrap-message">
    <%= render "messages" %>
  </div>

  <div class="message__input ta_center">
    <%= form_for(@new_message) do |f| %>
      <%= f.text_field :content , class: "form__text_area_search no_submit"%>
      <%= f.hidden_field :sender_id %>
      <%= f.hidden_field :receiver_id %>
      <%= f.hidden_field :message_room_id %>
      <%= f.submit "送信" , class: "button button_size_small button_color_blue"%>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $('.wrap-message').animate({
      scrollTop: $(document).height()
    },0);
    // $(".page").infinitescroll({
    //   loading: {
    //     img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
    //     msgText: "loading..."
    //   },
    //   navSelector: "nav.pagination",
    //   nextSelector: "nav.pagination a[rel=next]",
    //   itemSelector: ""
    // });
  });
</script>