<% @messages.each do |message| %>
  <p class="<%= message.sender_id == current_user.id ? "sender" : "receiver" %>">
    <%= message.content %>
  </p>
<% end %>

<%= form_for(@new_message) do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :sender_id %>
  <%= f.hidden_field :receiver_id %>
  <%= f.hidden_field :message_room_id %>
  <%= f.submit "送信" %>
<% end %>