<header class="header">
  <%= link_to signups_path , class: "header__background" do %>
    <div class="header__image_top" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
    <% if !user_signed_in? %>
      <p class="header__paragraph">新規登録・ログインはこちら</p>
    <% end %>
  <% end %>
</header>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークル一覧</h1>
<% if @circles.any? %>
  <ul class="frame__list ta_center">
    <% @circles.each do |circle| %>
      <li class="circle">
        <%= link_to circle, class: "wrap__link" do %>
          <div class="circle__background" style="background-image: url(<%= circle.header_picture %>)"></div>
          <div class="circle__image" style="background-image: url(<%= circle.picture %>)"></div>
          <p class="circle__name"><%= circle.name %></p>
          <p class="circle__genre">
            <% if circle.categories.first.present? %>
              <%= circle.categories.first.name %>
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">ブログ一覧</h1>
<% if @blogs.any? %>
  <ul class="frame__list">
    <% @blogs.each do |blog| %>
      <li class="article">
        <%= link_to [blog.circle, blog], class: "wrap__link" do %>
          <div class="article__image" style="background-image: url(<%= blog.picture %>)"></div>
          <p class="article__heading"><%= blog.title %></p>
          <p class="article__text article__text_top"><%= blog.content %></p>
          <span class="article__time"><%= blog.created_at.in_time_zone('Tokyo').strftime("%y/%m/%d  %k:%M") %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="frame">
  <h1 class="frame__heading">イベント一覧</h1>
<% if @events.any? %>
  <ul class="frame__list">
    <% @events.each do |event| %>
      <li class="article">
        <%= link_to [event.circle, event], class: "wrap__link" do %>
          <div class="article__image" style="background-image: url(<%= event.picture %>)"></div>
          <p class="article__heading"><%= event.title %></p>
          <p class="article__text article__text_top"><%= event.content %></p>
          <span class="article__time"></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
