<% if !user_signed_in? %>
  <header id="topHeader" class="header">
    <%= link_to :root, class: "header__background" do %>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      <p class="header__paragraph">新規登録・ログインはこちら</p>
    <% end %>
  </header>
<% else %>
  <header id="topHeader" class="slide">
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('top_image01.jpg') %>);"></div>
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('top_image02.jpg') %>);"></div>
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('top_image03.jpg') %>);"></div>
  </header>
<% end %>

<div class="frame_100">
  <ul class="sride_genre">
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/soccer.jpg") %>)">
      <%= link_to "サッカー", [:circles, category: "サッカー"], class: "link_fill" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/event.jpg") %>)">
      <%= link_to "イベント", [:circles, category: "イベント"], class: "link_fill" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/dance.jpg") %>)">
      <%= link_to "ダンス", [:circles, category: "ダンス"], class: "link_fill" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/travel.jpg") %>)">
      <%= link_to "旅行", [:circles, category: "旅行"], class: "link_fill" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/basket.jpg") %>)">
      <%= link_to "バスケ", [:circles, category: "バスケットボール"], class: "link_fill" %>
    </li>
  </ul>
  <%# image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークルランキング</h1>
</div>
<div id="ranking" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre"><%= circle.categories.first.name if circle.categories.first.present? %></p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル一覧</h1>
</div>
<div id="news" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">新着ブログ</h1>
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/blog_cards" %>
      <li><%= link_to "もっと見る", :blogs, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着イベント</h1>
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/event_cards" %>
      <li><%= link_to "もっと見る", :events, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<!-- 初回アクセスで、利用方法を選択 -->
<div class="tutorial_first_select">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="ta_center">
          <div class="tutorial__heading">Thanks!</div>
        </div>
        <div class="tutorial__text margin_top_2rem ta_center">
        Unionへのご登録<br>誠にありがとうございます！<br>ご利用方法を以下から<br>選択してください。</div>
        <div class="ta_center margin_top_1rem">
          <div class="button button_lp button_color_blue no_belonge">サークルを探している</div>
          <div class="button button_lp button_color_blue already_belonge">団体に所属している</div>
          <div class="button button_lp button_color_blue representative">団体の管理者をしている</div>
          <div class="button button_lp button_color_white">スキップ</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 新入生用チュートリアル -->
<div id="no_belonge">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/tutorial01.png" %>
        </div>
        <div class="tutorial__text">プロフィールが完成したら、メニュバーのホームや検索ページで、色々なサークル・学生団体・部活を覗いてみましょう</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/tutorial02.png" %>
        </div>
        <div class="tutorial__text">気になる団体があったら、「気になる」ボタンを押してみましょう。気になる団体からメッセージが届くかもしれません。</div>
        <!-- <div class="tutorial__image"></div> -->
        <div class="tutorial__text">団体から気になるが来たり、サークルメンバーからスカウトが来たら、メッセージをしてみましょう!!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/tutorial03.png" %>
        </div>
        <div class="tutorial__text">メッセージをして団体のメンバーと仲良くなったら、新歓イベントに行ったりサークル活動に行ってみましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/logo.png" %>
        </div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体所属ユーザーチュートリアル -->
<div id="already_belonge">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">団体自分の団体に参加しましょう。団体の代表さんに追加してもらえます。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">新入生をスカウトしてみよう。ログインポーナスやブログへのいいねが増えていくと、ポイントが溜まって、お気に入りの新入生をスカウトすることができます。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">新入生をスカウトして、メッセージのやり取りを終えたら、新入生を自分の団体の新歓やイベントに誘って、最高の仲間を迎え入れましょう!!!</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">メッセージをして団体のメンバーと仲良くなったら、新歓イベントに行ったりサークル活動に行ってみましょう!!</div>
        <div class="tutorial__image"></div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体管理者チュートリアル -->
<div id="representative">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">プロフィール作成が終わったら、マイページ右上のメニューを開いて、新規団体登録をしましょう</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">団体概要を入力し画像を挿入しましょう。また、LINE＠に登録しましょう!!!団体の代表、管理者だけにUnionから特別な情報をご提供致します。（代表者交流会や協賛企業情報など）</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">これで団体が作成完了します。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">すでにあなたの団体に所属しているメンバーを、団体ページの右上のメニューから追加しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">あとは新入生からの「気になる」を待つか、団体に合いそうな新入生をスカウトして、最高の仲間を迎え入れましょう！</div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- チュートリアルjs -->
<% if @tutorialing %><span id="tutorialing"></span><% end %>
<script>
  $(function() {
    if ($("#tutorialing")[0]){
      $('.tutorial_first_select').fadeIn(500);
      $(".button_color_white").on("click", function(){
        $(".alert").fadeOut(300);
      });
      $('.no_belonge').on("click", function(){
        $("#no_belonge").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
      $('.already_belonge').on("click", function(){
        $("#no_belonge").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
      $('.representative').on("click", function(){
        $("#representative").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
    }
    $(".slide").slick({
      autoplay: true,
      autoplaySpeed: 6000,
      arrows: false,
    });
  });
</script>



