<header class="header">
  <%= link_to signups_path , class: "header__background" do %>
    <div class="header__image_top" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
    <% if !user_signed_in? %>
      <p class="header__paragraph">新規登録・ログインはこちら</p>
    <% end %>
  <% end %>
</header>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル一覧</h1>
<% if @circles.any? %>
  <ul class="sride-miniCard">
    <% @circles.each do |circle| %>
      <li class="miniCard">
        <%= link_to circle, class: "wrap__link" do %>
          <div class="miniCard__background" style="background-image: url(<%= circle.header_picture %>)"></div>
          <div class="miniCard__image" style="background-image: url(<%= circle.picture %>)"></div>
          <p class="miniCard__name"><%= circle.name %></p>
          <p class="miniCard__genre">
            <% if circle.categories.first.present? %>
              <%= circle.categories.first.name %>
            <% end %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p style="text-align: right;"><%= link_to "もっと見る", :circles, style: "color: gray; text-decoration: none;" %></p>
<% end %>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">ブログ一覧</h1>
<% if @blogs.any? %>
  <%= render "shared/thin_cards", objects: @blogs %>
  <p style="text-align: right;"><%= link_to "もっと見る", :blogs, style: "color: gray; text-decoration: none;" %></p>
<% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">イベント一覧</h1>
<% if @events.any? %>
  <%= render "shared/thin_cards", objects: @events %>
  <p style="text-align: right;"><%= link_to "もっと見る", :events, style: "color: gray; text-decoration: none;" %></p>
<% end %>
    
</div>