<% if !user_signed_in? %>
  <header id="topHeader" class="header">
    <%= link_to :root, class: "header__background" do %>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      <p class="header__paragraph">新規登録・ログインはこちら</p>
    <% end %>
  </header>
<% else %>
  <header id="topHeader">
    <div class="slide">
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top01.jpg') %>);">
        <%= link_to "", @yume_award, class: "link_fill" %>
      </div>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top02.jpg') %>);">
        <%= link_to "", @jagzzi, class: "link_fill" %>
      </div>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top03.jpg') %>);">
        <%= link_to "", @sal, class: "link_fill" %>
      </div>
    </div>
    <div class="ta_cneter header__copy">Union<br>〜理想のキャンパスライフをあなたに〜</div>
  </header>
<% end %>

<div class="frame_100">
  <ul class="sride_genre">
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/soccer.jpg") %>)">
      <%= link_to "サッカー", [:circles, category_id: "23"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/event.jpg") %>)">
      <%= link_to "イベント", [:circles, category_id: "4"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/dance.jpg") %>)">
      <%= link_to "ダンス", [:circles, category_id: "30"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/travel.jpg") %>)">
      <%= link_to "旅行", [:circles, category_id: "18"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/basket.jpg") %>)">
      <%= link_to "バスケ", [:circles, category_id: "26"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre">
      <%= link_to "もっと見る", [:search, :circles], class: "link_fill color_white font-weight_normal" %>
    </li>
  </ul>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークルランキング</h1>
</div>
<div id="ranking" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre"><%= circle.categories.first.name if circle.categories.first.present? %></p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル一覧</h1>
</div>
<div id="news" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">新着ブログ</h1>
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/blog_cards" %>
      <li><%= link_to "もっと見る", :blogs, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着イベント</h1>
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/event_cards" %>
      <li><%= link_to "もっと見る", :events, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<!-- 初回アクセスで、利用方法を選択 -->
<div class="tutorial_first_select">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="ta_center">
          <div class="tutorial__heading">Thanks!</div>
        </div>
        <div class="tutorial__text margin_top_2rem ta_center">
        Unionへのご登録<br>誠にありがとうございます！<br>ご利用方法を以下から<br>選択してください。</div>
        <div class="ta_center margin_top_1rem">
          <div class="button button_lp button_color_blue no_belonge">サークルを探している</div>
          <div class="button button_lp button_color_blue already_belonge">団体に所属している</div>
          <div class="button button_lp button_color_blue representative">団体の管理者をしている</div>
          <div class="button button_lp button_color_white">スキップ</div>
        </div>
      </div>
    </div>
    <!-- <div class="tutorial_close"></div> -->
  </div>
</div>

<!-- 新入生用チュートリアル -->
<div id="no_belonge">
  <div class="alert">
    <div class="tutorial">
    <div class="tutorial_close"></div>
      <div class="tutorial__inner">
        <div class="tutorial__heading">Union tutorial</div>
        <div class="tutorial__subhead">個人プロフィールを作成しましょう</div>
        <div class="tutorial__text">詳細のプロフィールを記入するとフォローや足跡が届きやすくなります!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/new/tutorial01.jpg" %>
        </div>
        <div class="tutorial__subhead">気になる団体を探してみましょう</div>
        <div class="tutorial__text">トップページや検索ページであなたの気になるサークル・学生団体・部活を覗いてみましょう</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/new/tutorial02.jpg" %>
        </div>
        <div class="tutorial__subhead">気になるor足跡をつけてみましょう</div>
        <div class="tutorial__text">気になる団体があったら、「気になる」ボタンを押してみましょう。また、気になる団体のメンバーがいたら、その人のプロフィールに飛んで足跡をつけてみましょう!! 気になる団体のメンバーからフォローやメッセージが届くかも!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/new/tutorial03.jpg" %>
        </div>
        <!-- <div class="tutorial__image"></div> -->
        <div class="tutorial__subhead">メッセージをしてみましょう</div>
        <div class="tutorial__text">団体メンバーからフォローが来たり、団体メンバーからスカウトが来たら、メッセージをしてみましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/new/tutorial04.jpg" %>
        </div>
        <div class="tutorial__text">最後に、メッセージをして団体のメンバーと仲良くなったら、新歓イベントに行ったりサークル活動に行って、自分に合う最高の団体に入りましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/logo.png" %>
        </div>
        <div class="tutorial__text ta_center">〜理想のキャンパスライフをあなたに〜</div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_finish">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体所属ユーザーチュートリアル -->
<div id="already_belonge">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial_close"></div>
      <div class="tutorial__inner">
        <div class="tutorial__heading">Union tutorial</div>
        <div class="tutorial__subhead">個人プロフィールを作成しましょう</div>
        <div class="tutorial__text">まずは自分のプロフィールを作成しましょう。詳細のプロフィールを記入すると新入生からフォローや足跡が届きやすくなります!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/circle/tutorial01.jpg" %>
        </div>
        <div class="tutorial__subhead">団体に参加しましょう</div>
        <div class="tutorial__text">団体の管理者の方にメンバー追加URLを発行してもらって、所属団体に追加してもらいましょう。追加してもらうと、個人プロフィールに団体マークがつきます。</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/circle/tutorial02.jpg" %>
        </div>
        <div class="tutorial__subhead">フォローをしましょう</div>
        <div class="tutorial__text">自分の団体のメンバーや足跡をつけてくれた新入生をフォローしてみましょう。</div>
        <div class="tutorial__image">
          <%# image_tag "tutorial/circle/tutorial03.jpg" %>
        </div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/circle/tutorial04.jpg" %>
        </div>
        <div class="tutorial__subhead">メッセージをしましょう</div>
        <div class="tutorial__text">新入生とフォロワー同士になったら、新入生にメッセージをしてみましょう!!新入生を自分の団体の新歓やイベントに招いて、最高のメンバーを団体に迎え入れましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/circle/tutorial05.jpg" %>
        </div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/logo.png" %>
        </div>
        <div class="tutorial__text ta_center">〜理想のキャンパスライフをあなたに〜</div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_finish">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体管理者チュートリアル -->
<div id="representative">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial_close"></div>
      <div class="tutorial__inner">
        <div class="tutorial__heading">Union tutorial</div>
        <div class="tutorial__subhead">個人プロフィールを作成しましょう</div>
        <div class="tutorial__text">まずは自分のプロフィールを作成しましょう。詳細のプロフィールを記入すると新入生からフォローや足跡が届きやすくなります!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/admin/tutorial01.jpg" %>
        </div>
        <div class="tutorial__subhead">あなたの団体を作成しましょう</div>
        <div class="tutorial__text">
        プロフィール作成が終わったら、次は右上のハンバーガーメニューを開いて、新規団体を作成しましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/admin/tutorial02.jpg" %>
        </div>
        <div class="tutorial__subhead">団体作成を完了させましょう</div>
        <div class="tutorial__text">必須項目を入力し、画像を挿入しましょう。また、管理者限定のLINE@に登録して、耳よりな情報をゲットしましょう!!(代表者交流会や企業協賛情報を発信)</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/admin/tutorial03.jpg" %>
        </div>
        <div class="tutorial__subhead">メンバーを追加しましょう</div>
        <div class="tutorial__text">作成した団体ページの右上のメニューから団体メンバーを追加しましょう。</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/admin/tutorial04.jpg" %>
        </div>
        <div class="tutorial__subhead">新入生とメッセージをしましょう</div>
        <div class="tutorial__text">新入生から「気になる」「お問い合わせ」 「メンバー申請」が来たら新入生へフォローやメッセージをしましょう。 あなたの団体に合いそうな新入生をスカウトして、最高の仲間を迎え入れましょう!!</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/admin/tutorial05.jpg" %>
        </div>
        <div class="tutorial__text">あとは新入生からの「気になる」を待つか、団体に合いそうな新入生をスカウトして、最高の仲間を迎え入れましょう！</div>
        <div class="tutorial__image">
          <%= image_tag "tutorial/logo.png" %>
        </div>
        <div class="tutorial__text ta_center">〜理想のキャンパスライフをあなたに〜</div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_finish">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- チュートリアルjs -->
<% if @tutorialing %><span id="tutorialing"></span><% end %>
<script>
  $(function() {
    if ($("#tutorialing")[0]){
      $('.tutorial_first_select').fadeIn(500);
      $(".button_color_white").on("click", function(){
        $(".alert").fadeOut(300);
      });
      $('.no_belonge').on("click", function(){
        $("#no_belonge").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
        $(".tutorial_finish").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
      $('.already_belonge').on("click", function(){
        $("#already_belonge").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
        $(".tutorial_finish").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
      $('.representative').on("click", function(){
        $("#representative").fadeIn();
        $(".tutorial_close").on("click", function(){
          $(".alert").fadeOut(300);
        });
        $(".tutorial_finish").on("click", function(){
          $(".alert").fadeOut(300);
        });
      });
    }
    $(".slide").slick({
      autoplay: true,
      autoplaySpeed: 6000,
      arrows: false,
      infinite: true,
      dots: true,
      arrows: true,
    });
  });
</script>



