<header class="header">
  <%= link_to :root, class: "header__background" do %>
    <div class="header__image_top" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
    <% if !user_signed_in? %>
      <p class="header__paragraph">新規登録・ログインはこちら</p>
    <% end %>
  <% end %>
</header>

<!-- <div class="frame_100">
  <ul class="sride_genre">
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
  </ul>
  <%# image_tag 'maru>.svg' , class: "arrows"%>
</div> -->

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークルランキング</h1>
</div>
<div class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "wrap__link" do %>
            <div class="miniCard__background" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to :circles do %>
          <div class="miniCard miniCard__more">read more!!</div>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%# image_tag 'maru>.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル一覧</h1>
</div>
<div class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "wrap__link" do %>
            <div class="miniCard__background" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to :circles do %>
          <div class="miniCard miniCard__more">もっと見る</div>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%# image_tag 'maru>.svg' , class: "arrows"%>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">新着ブログ</h1>
<% if @blogs.any? %>
  <%= render "shared/thin_cards", objects: @blogs %>
<% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着イベント</h1>
<% if @events.any? %>
  <%= render "shared/thin_cards", objects: @events %>
<% end %>
</div>