
<header id="topHeader">
  <div class="slide">
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top01.jpg') %>);"></div>
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top02.jpg') %>);"></div>
    <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('slide/top03.jpg') %>);"></div>
  </div>
  <div class="ta_cneter header__copy">〜理想のキャンパスライフをあなたに〜</div>
  <%= image_tag 'union_sidelogo.png' , class: "header__unionlogo"%>
</header>

<div class="frame_100">
  <ul class="sride_genre">
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/soccer.jpg") %>)">
      <%= link_to "サッカー", [:circles, category_id: "23"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/event.jpg") %>)">
      <%= link_to "イベント", [:circles, category_id: "4"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/dance.jpg") %>)">
      <%= link_to "ダンス", [:circles, category_id: "30"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/travel.jpg") %>)">
      <%= link_to "旅行", [:circles, category_id: "18"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre c_picture" style="background-image: url(<%= asset_path("categories/basket.jpg") %>)">
      <%= link_to "バスケ", [:circles, category_id: "26"], class: "link_fill color_white text_shadow" %>
    </li>
    <li class="genre">
      <%= link_to "もっと見る", [:search, :circles], class: "link_fill color_white font-weight_normal" %>
    </li>
  </ul>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークルランキング</h1>
</div>
<div id="ranking" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @ranking.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre"><%= circle.categories.first.name if circle.categories.first.present? %></p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", [:circles, title: "サークルランキング", ranking: true], class: "link_fill miniCard miniCard__more" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル</h1>
</div>
<div id="news" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", [:circles, title: "新着サークル"], class: "link_fill miniCard miniCard__more" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">新着ブログ</h1>
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/blog_cards" %>
      <li><%= link_to "もっと見る", :blogs, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着イベント</h1>
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/event_cards" %>
      <li><%= link_to "もっと見る", :events, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<% if !user_signed_in? %>
  <div class="wrap_to_lp">
    <div class="to_lp"><%= link_to "ログイン・新規登録はこちら！", :root, class: "link_fill" %></div>
  </div>
<% end %>

<% if @tutorialing %>
  <%= render "tutorial" %>
<% end %>

<script>
  $(function() {
    $(".slide").slick({
      autoplay: true,
      autoplaySpeed: 6000,
      arrows: false,
      infinite: true,
      dots: true,
      arrows: true,
    });
  });
</script>



