<!-- <header class="header">
  <% if !user_signed_in? %>
    <%= link_to :root, class: "header__background" do %>
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      <% if !user_signed_in? %>
        <p class="header__paragraph">新規登録・ログインはこちら</p>
      <% end %>
    <% end %>
  <% else %>
    <div class="header__background slick-initialized slick-slider">
      <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
    </div>
  <% end %>
</header> -->

<header class="topHeader">
  <h1 class="slide">
    <ul class="slide_list">
      <li class="slide_item topHeader_image">
        <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      </li>
      <li class="slide_item topHeader_image">
        <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      </li>
      <li class="slide_item topHeader_image">
        <div class="header__image_top c_picture" style="background-image: url(<%= asset_path('union_lp_trim.png') %>);"></div>
      </li>
    </ul>
    <button class="prevBtn"></button>
    <button class="nextBtn"></button>
  </h1>
</header>



<!-- <div class="frame_100">
  <ul class="sride_genre">
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
    <li class="genre">ジャンル</li>
  </ul>
  <%# image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div> -->

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">サークルランキング</h1>
</div>
<div id="ranking" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre"><%= circle.categories.first.name if circle.categories.first.present? %></p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着サークル一覧</h1>
</div>
<div id="news" class="wrap_miniCard">
  <% if @circles.any? %>
    <ul class="sride-miniCard">
      <% @circles.each do |circle| %>
        <li class="miniCard">
          <%= link_to circle, class: "link_fill" do %>
            <div class="miniCard__background c_picture" style="background-image: url(<%= circle.header_picture %>)"></div>
            <div class="miniCard__image c_picture" style="background-image: url(<%= circle.picture %>)"></div>
            <p class="miniCard__name"><%= circle.name %></p>
            <p class="miniCard__genre">
              <% if circle.categories.first.present? %>
                <%= circle.categories.first.name %>
              <% end %>
            </p>
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to "もっと見る", :circles, class: "link_fill miniCard miniCard__more", style: "text-decoration: none;" %>
      </li>
    </ul>
  <% end %>
  <%= image_tag 'keyboard_arrow_right.svg' , class: "arrows"%>
</div>

<div class="frame frame_blog">
  <h1 class="frame__heading frame__heading_underline">新着ブログ</h1>
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/blog_cards" %>
      <li><%= link_to "もっと見る", :blogs, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<div class="frame">
  <h1 class="frame__heading frame__heading_underline">新着イベント</h1>
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/event_cards" %>
      <li><%= link_to "もっと見る", :events, class: "thinCard thinCard__more" %></li>
    </ul>
  <% end %>
</div>

<!-- 初回アクセスで、利用方法を選択 -->
<div class="tutorial_first_select">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="ta_center">
          <div class="tutorial__heading">Thanks!</div>
        </div>
        <div class="tutorial__text margin_top_2rem">unionにご登録いただき、ありがとうございます！簡単なサービスの説明をさせていただきたいので、現時点でのご利用方法を以下から選択してください。</div>
        <div class="ta_center margin_top_2rem">
          <div class="button button_lp button_color_blue no_belonge">サークルを探している</div>
          <div class="button button_lp button_color_blue already_belonge">団体メンバー</div>
          <div class="button button_lp button_color_blue representative">団体の代表をしている</div>
          <div class="button button_lp button_color_white">説明はいりません</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 新入生用チュートリアル -->
<div id="no_belonge">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">プロフィールが完成したら、メニュバーのホームや検索ページで、色々なサークル・学生団体・部活を覗いてみましょう</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">気になる団体があったら、「気になる」ボタンを押してみましょう。気になる団体からメッセージが届くかもしれません。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">団体から気になるが来たり、サークルメンバーからスカウトが来たら、メッセージをしてみましょう!!!</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">メッセージをして団体のメンバーと仲良くなったら、新歓イベントに行ったりサークル活動に行ってみましょう!!</div>
        <div class="tutorial__image"></div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体所属ユーザーチュートリアル -->
<div id="already_belonge">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">団体自分の団体に参加しましょう。団体の代表さんに追加してもらえます。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">新入生をスカウトしてみよう。ログインポーナスやブログへのいいねが増えていくと、ポイントが溜まって、お気に入りの新入生をスカウトすることができます。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">新入生をスカウトして、メッセージのやり取りを終えたら、新入生を自分の団体の新歓やイベントに誘って、最高の仲間を迎え入れましょう!!!</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">メッセージをして団体のメンバーと仲良くなったら、新歓イベントに行ったりサークル活動に行ってみましょう!!</div>
        <div class="tutorial__image"></div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- 団体管理者チュートリアル -->
<div id="representative">
  <div class="alert">
    <div class="tutorial">
      <div class="tutorial__inner">
        <div class="tutorial__heading">チュートリアル</div>
        <div class="tutorial__text">まずは、あなたのプロフィールを作成しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">プロフィール作成が終わったら、マイページ右上のメニューを開いて、新規団体登録をしましょう</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">団体概要を入力し画像を挿入しましょう。また、LINE＠に登録しましょう!!!団体の代表、管理者だけにUnionから特別な情報をご提供致します。（代表者交流会や協賛企業情報など）</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">これで団体が作成完了します。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">すでにあなたの団体に所属しているメンバーを、団体ページの右上のメニューから追加しましょう。</div>
        <div class="tutorial__image"></div>
        <div class="tutorial__text">あとは新入生からの「気になる」を待つか、団体に合いそうな新入生をスカウトして、最高の仲間を迎え入れましょう！</div>
        <div class="ta_center">
          <div class="button button_round button_color_blue tutorial_close">さあ、unionを始めよう！</div>
        </div>
        <div class="tutorial__text"></div>
      </div>
    </div>
  </div>
</div>
<!-- チュートリアルjs -->
<script>
  $(document).ready(function() {
  $('.tutorial_first_select').fadeIn(500);
  $(".button_color_white").click(function(){
        $(".alert").fadeOut(300);
      });
  });
  $('.no_belonge').click(function(){
    $("#no_belonge").fadeIn();
    $(".tutorial_close").click(function(){
        $(".alert").fadeOut(300);
      });
  });
  $('.already_belonge').click(function(){
    $("#no_belonge").fadeIn();
    $(".tutorial_close").click(function(){
        $(".alert").fadeOut(300);
      });
  });
  $('.representative').click(function(){
    $("#representative").fadeIn();
    $(".tutorial_close").click(function(){
        $(".alert").fadeOut(300);
      });
  });

// スライドショー
  $(function(){
    var dir = -1;

    var interval = 3000;

    var duration = 700;

    var timer;

    $('.slide_list').prepend($('.slide_item:last-child'));

    $('.slide_list').css('left', -500);

    timer = setInterval(slideTimer, interval);

    function slideTimer(){
      if(dir == -1){
        $('.slide_list').animate({'left' : '-=500'}, duration,
        function(){

          $(this).append($('.slide_item:first-child'));

          $(this).css('left', -500);
        });
      }else{
        $('.slide_list').animate({'left': '+=500px'},
          duration, function(){
            $(this).prepend($('.slide_item:last-child'));

            $(this).css('left', -500);

            dir = -1;
          });
      }
    }

    $('.prevBtn').click(function(){
      dir = 1;

      clearInteral(timer);
      timer = setInterval(slideTimer, interval);

      slideTimer();
    });

    $('.nextBtn').click(function(){
      dir = -1;

      clearInterbal(timer);
      timer = setInterval(slideTimer, interval);

      slideTimer();
    })
  });
</script>

<!-- スライドショーライブラリ -->
// <!-- <script>
//   $(function() {
//       $('.center-item').slick({
//             infinite: true,
//             dots:true,
//             slidesToShow: 1,
//             centerMode: true, //要素を中央寄せ
//             centerPadding:'100px', //両サイドの見えている部分のサイズ
//             autoplay:true, //自動再生
//             responsive: [{
//                  breakpoint: 480,
//                       settings: {
//                            centerMode: false,
//                  }
//             }]
//        });
//   });



