<%= link_to circle do %>
  <div class="card">
    <div class="card__background" style="background-image: url(<%= circle.header_picture %>)"></div>

    <h1 class="card__heading"><%= circle.description %></h1>
    <p class="card__subhead"></p>

    <div class="card__image" style="background-image: url(<%= circle.picture %>)"></div>
    <h1 class="card__name"><%= circle.name %></h1>
    <p class="card__category">
      <% if circle.categories.first.present? %>
        <%= circle.categories.first.name %>
      <% end %>
      <% if circle.categories.second.present? %>
        /<%= circle.categories.second.name %>
      <% end %>
      <% if circle.categories.third.present? %>
        /<%= circle.categories.third.name %>
      <% end %>
    </p>
  </div>
<% end %>
<div id="favorite_form_<%= circle.id %>">
  <% @circle = circle %>
  <%= render !current_user.favorites.find_by(circle_id: @circle.id) ? "favorite" : "unfavorite" , circle: @circle %>
</div>