<%= form_for @search_params, url: [:search, :circles], html: {method: :get} do |f| %>
  <% params[:circle] = {} if params[:circle].nil? %>

  <div class="form__search">
    <div class="search_accordion">
      <%= label_tag "フリーワード検索" %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
    </div>
    <div class="search_accordion_open"><%= f.text_field :free_word, value: params[:circle][:free_word] , class: "form__text_field"%></div>

    <div class="search_accordion">
      <%= f.label :categories %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
    </div>
    <div class="wrap_select wrap_select_100 search_accordion_open">
      <%= f.select :categories, @category_options.map{|t| [t.name, t.id]}, {include_blank: true, selected: params[:circle][:categories]}, {class: "selectbox"} %>
    </div>

    <div class="search_accordion">
      <%= f.label :join_colleges %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
      </div>
    <div class="search_accordion_open">
      <%= text_field_tag :keyword, nil, {id: "college_keyword", class: ""} %>
      <div id="college_search_button" class="" controller="circle">検索</div>
      <div class="wrap_select" id="college_select_wrap">
        <%= render "shared/ajax_select", {elements: nil, name: "circle[college]"} %>
      </div>
    </div>

    <div class="search_accordion">
      <%= f.label :people_scale %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
      </div>
    <div class="wrap_select wrap_select_100 search_accordion_open">
      <%= f.select :people_scale,
      [["10人未満", "0/10"], ["10人以上30人未満", "10/30"], ["30人以上50人未満", "30/50"], ["50人以上100人未満", "50/100"], ["100人以上", "100/0"]],
      {include_blank: true, selected: params[:circle][:people_scale]}, {class: "selectbox"} %>
    </div>

    <div class="search_accordion">
      <%= f.label :annual_fee %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
      </div>
    <div class="wrap_select wrap_select_100 search_accordion_open">
      <%= f.select :annual_fee,
        [["0円", "0/1"], ["1000円未満", "0/1000"], ["1000円以上3000円未満", "1000/3000"],
        ["3000円以上5000円未満","3000/5000"], ["5000円以上10000円未満","5000/10000"], ["10000円以上", "10000/0"]],
        {include_blank: true, selected: params[:circle][:annual_fee]}, {class: "selectbox"} %>
    </div>

    <div class="search_accordion">
      <%= f.label :activity_frequency %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
    </div>
    <div class="wrap_select wrap_select_100 search_accordion_open">
      <%= f.select :activity_frequency, options_for_select(@frequencies, selected: params[:circle][:activity_frequency]),
      {include_blank: true}, {class: "selectbox"} %>
    </div>

    <div class="search_accordion">
      <%= f.label :party_frequency %>
      <div class="search_accordion_icon"></div>
      <div class="search_accordion_value"></div>
    </div>
    <div class="wrap_select wrap_select_100 search_accordion_open">
      <%= f.select :party_frequency, options_for_select(@frequencies, selected: params[:circle][:party_frequency]),
      {include_blank: true}, {class: "selectbox"} %>
    </div>

    <div class="search_accordion">
      <%= f.label :welcome_event_schedule %>
      <div class="search_accordion_icon"></div>
    </div>
    <div class="search_accordion_open">
      <div id="date_select_wrap">
        <span>2017年</span>
        <%= date_select :circle, :schedule_from,
          {use_month_numbers: true, discard_year: true, date_separator: "月", default: Date.new(2017,1,1)}
        %><span>日</span>
        <span>〜</span>
        <%= date_select :circle, :schedule_to,
          {use_month_numbers: true, discard_year: true, date_separator: "月", default: Date.new(2017,12,31)}
        %><span>日</span>
      </div>
    </div>

    <%= f.submit "絞り込み検索" , class: "button button_100 button_color_blue margin_top_3rem"%>
  </div>
<% end %>

<script>
  $(function(){
    $(".search_accordion").off("click");
    $(".search_accordion").on("click", function(){
      $(this).next().slideToggle();
      $(this).toggleClass("search_accordion_active");
    });
    $("#date_select_wrap select").wrap($("<div>").addClass("wrap_select")).addClass("temp abc");
  });
</script>
