<%= form_for(@circle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <!-- 整列のためのpタグ -->
  <p>
  <% @category_ids.each_with_index do |id, i| %>
    <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id.to_i]}, selected: id, include_blank: true %>
  <% end %>
  </p>

  <%= f.submit "更新" %>
<% end %>