<header>
  <h1 class="formHeading ta_center">サークルプロフィール編集</h1>
</header>

<div class="form">
  <%= form_for(@circle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name ,"サークル名", class: "form__item"%>
  <%= f.text_field :name , class: "form__text_field" %>

  <%= f.label :description ,"サークル概要", class: "form__item"%>
  <%= f.text_area :description , class: "form__text_area" %>

  <%# f.label :activity ,"活動内容", class: "form__item"%>
  <%# f.text_area :activity , class: "form__text_area" %>

  <div class="ta_center">
    <div class="form__item">カテゴリー選択</div>
    <% @category_ids.each_with_index do |id, i| %>
      <div class="wrap_select margin_0_auto">
        <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id]}, {selected: id, include_blank: true}, {class: "selectbox"}%>
        <!-- <div class="select__choice_top">タップして選択</div> -->
        <script>
          jQuery(function(){
              jQuery("select#sentakushi_form").change(function(){
                  jQuery("div#sentakushi_form2").text(jQuery("option:selected",this).text());
              }).trigger("change");
          });
       </script>
      </div>
    <% end %>
  </div>

  <div class="ta_center">
    <div style="width: 100px;">
      <% if @circle.picture %>
        <%= image_tag @circle.picture.url, class: "circle_picture"%>
      <% else %>
        <%= image_tag class: "circle_picture"%>
      <% end %>
    </div>
    <div class="form__upload">サークルのプロフィール画像を選択
      <%= f.file_field :picture , class: "form__file"%>
    </div>
  </div>

  <div class="ta_center">
    <div style="width: 100px;">
      <% if @circle.header_picture %>
        <%= image_tag @circle.header_picture.url, class: "circle_header_picture"%>
      <% else %>
        <%= image_tag class: "circle_header_picture"%>
      <% end %>
    </div>
    <div class="form__upload">ヘッダー画像を選択
      <%= f.file_field :header_picture , class: "form__file"%>
    </div>
  </div>

  <!-- text_areaの高さ半分くらいの方がいいかも -->
  <%# @informations.each do |key, value| %>
    <%# f.label key , value, class: "form__item"%>
    <%# f.text_area key , class: "form__text_area" %>
  <%# end %>

  <div class="form__buttun ta_center">
    <%= f.submit "更新" , class: "button button_size_large button_color_blue"%>
  </div>
  <% end %>
</div>