<header>
  <h1 class="formHeading ta_center">サークルプロフィール編集</h1>
</header>

<div class="form">
  <%= form_for(@circle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name ,"サークル名", class: "form__item"%>
  <%= f.text_field :name , class: "form__text_field" %>

  <%= f.label :description ,"サークル概要", class: "form__item"%>
  <%= f.text_area :description , class: "form__text_area" %>

  <div class="ta_center">
    <div class="form__item">カテゴリー選択</div>
    <% @category_ids.each_with_index do |id, i| %>
      <div class="wrap_select margin_0_auto">
        <%= select :categories, ("category_"+(i+1).to_s).to_sym, @category_options.map{|t| [t.name, t.id]}, {selected: id, prompt: "☆"*(3-i)}, {class: "selectbox"}%>
      </div>
    <% end %>
  </div>

  <div class="ta_center">
    <div>
      <% if @circle.picture %>
        <%= image_tag @circle.picture.url, class: "circle_picture"%>
      <% else %>
        <%= image_tag class: "circle_picture"%>
      <% end %>
    </div>
    <div class="form__upload">サークルのプロフィール画像を選択
      <%= f.file_field :picture , class: "form__file"%>
    </div>
  </div>

  <div class="ta_center">
    <div>
      <% if @circle.header_picture %>
        <%= image_tag @circle.header_picture.url, class: "circle_header_picture"%>
      <% else %>
        <%= image_tag class: "circle_header_picture"%>
      <% end %>
    </div>
    <div class="form__upload">ヘッダー画像を選択
      <%= f.file_field :header_picture , class: "form__file"%>
    </div>
  </div>

  <%= f.label :join_colleges, class: "form__item" %>
  <%= f.text_field :join_colleges, class: "form__text_area" %>

  <%= f.label :people_scale, class: "form__item" %>
  <%= f.text_field :people_scale, class: "form__text_area" %>

  <%= f.label :activity_place, class: "form__item" %>
  <%= f.text_field :activity_place, class: "form__text_area" %>

  <%= f.label :annual_fee, class: "form__item" %>
  <%= f.text_field :annual_fee, class: "form__text_area" %>

  <%= f.label :activity_frequency, class: "form__item" %>
  <%= f.text_field :activity_frequency, class: "form__text_area" %>

  <%= f.label :party_frequency, class: "form__item" %>
  <%= f.text_field :party_frequency, class: "form__text_area" %>


  <div class="form__buttun ta_center">
    <%= f.submit "更新" , class: "button button_size_large button_color_blue"%>
  </div>
  <% end %>
</div>