<% if params[:action] == "feed" || params[:action] == "search" %>
  <% if params[:action] == "feed"
      feed_class   = "button_feed_current"
    else
      search_class = "button_search_current"
    end %>
  <div class="wrap-search ta_center">
    <%= link_to "フィード", [:feed, :circles] , class: "button button_feed #{feed_class}"%>
    <%= link_to "検索", [:search, :circles] , class: "button button_search #{search_class}"%>
  </div>
<% end %>

<% if params[:action] == "search" %>
  <%= render "search_form" %>
<% end %>

<% if @title %>
  <header>
    <h1 class="formHeading ta_center"><%= @title %></h1>
  </header>
<% end %>

<% if @circles.any? %>
  <div class="wrap_card">
    <%= render "circle_cards" %>
  </div>
<% end %>

<%= paginate @circles %>

<script>
$(function(){
  $(".wrap_card").infinitescroll({
    loading: {
      img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
      msgText: "loading...",
      finishedMsg: "",
    },
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".wrap_card .page"
  });
});

</script>