<% if params[:action] == "feed" || params[:action] == "search" %>
  <% if params[:action] == "feed"
      feed_class   = "button_feed_current"
    else
      search_class = "button_search_current"
    end %>
  <div class="wrap-search ta_center">
    <%= link_to "フィード", [:feed, :circles] , class: "button button_feed #{feed_class}"%>
    <%= link_to "検索", [:search, :circles] , class: "button button_search #{search_class}"%>
  </div>
<% end %>

<% if params[:action] == "search" %>
  <%= form_for @search_params, url: [:search, :circles], html: {method: :get} do |f| %>

    <div class="form__search ta_center">
      <%= f.text_field :name ,:placeholder => "キーワードを入力" , class: "form__text_field ta_center "%>
      <div class="wrap_select">
        <%= f.select :categories, @category_options.map{|t| [t.name, t.id]}, {include_blank: true}, {class: "selectbox"} %>
      </div>
      <%= f.submit "検索" , class: "button button_100 button_color_blue"%>
    </div>

  <% end %>
<% end %>

<% if @circles.any? %>
  <div class="wrap_card">
    <%= render "circle_cards" %>
  </div>
<% end %>

<%= paginate @circles %>

<script>
$(function(){
  $(".wrap_card .page").infinitescroll({
    loading: {
      img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
      msgText: "loading...",
      finishedMsg: "",
    },
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: ".wrap_card .page"
  });
});
</script>