<header>
	<h1 class="heading ta_center">サークル作成</h1>
</header>

<div class="form">
  <%= form_for(@circle) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name , class: "form__item"%>
    <%= f.text_field :name , class: "form__text_field"%>
	<div class="form__buttun">
		<%= f.submit "作成" , class: "buttun buttun_size_large buttun_color_blue"%>
	</div>
  <% end %>
</div>