<h1>サークル作成</h1>

<div>
  <%= form_for(@circle) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "作成" %>
  <% end %>
</div>