<%= form_for @search_params, url: [:search, :circles], html: {method: :get} do |f| %>

      <!--<%= f.label :name, "名前" %>-->
        <div class="form__search ta_center">
        <%= f.text_field :name ,:placeholder => "キーワードを入力" , class: "form__text_area_search ta_center "%>
        <%= f.submit "検索" , class: "button button_size_small button_color_blue "%>
        </div>
        <!--
        <%= f.label :categoies, "カテゴリー" %>
        <%= f.select :categories, @category_options.map{|t| [t.name, t.id]}, include_blank: true %>
        -->
      <% end %>

  <% if @circles.any? %>
  <% @circles.each do |circle| %>
    <%= link_to circle do %>
      <div class="card">
        <div class="card__background" style="background-image: url(<%= circle.header_picture %>)"></div>

        <!-- 修正が必要 -->
        <h1 class="card__heading"><%= circle.description %></h1>
        <p class="card__subhead"></p>

        <div class="card__image" style="background-image: url(<%= circle.picture %>)"></div>
        <h1 class="card__name"><%= circle.name %></h1>
        <p class="card__category">
          <% if circle.categories.first.present? %>
            <%= circle.categories.first.name %>
          <% end %>
          <% if circle.categories.second.present? %>
            /<%= circle.categories.second.name %>
          <% end %>
          <% if circle.categories.third.present? %>
            /<%= circle.categories.third.name %>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
