
<%= link_to "フィード", [:feed, :circles] %>
<%= link_to "探す", [:search, :circles] %>

<%= form_for @search_params, url: [:search, :circles], html: {method: :get} do |f| %>

  <!--<%= f.label :name, "名前" %>-->
  <div class="form__search ta_center">
  <%= f.text_field :name ,:placeholder => "キーワードを入力" , class: "form__text_area_search ta_center "%>
  <%= f.submit "検索" , class: "button button_size_small button_color_blue "%>
  </div>
  <!--
  <%= f.label :categoies, "カテゴリー" %>
  <%= f.select :categories, @category_options.map{|t| [t.name, t.id]}, include_blank: true %>
  -->
<% end %>

<% if @circles.any? %>
  <% @circles.each do |circle| %>
    <%= render "circle_card", circle: circle %>
  <% end %>
<% end %>
