<div class="wrap-search ta_center">
  <%= link_to "フィード", [:feed, :circles] , class: "button button_feed"%>
  <%= link_to "検索", [:search, :circles] , class: "button button_search button_search_current"%>
</div>

<%= form_for @search_params, url: [:search, :circles], html: {method: :get} do |f| %>

  <!--<%= f.label :name, "名前" %>-->
  <div class="form__search ta_center">
  <%= f.text_field :name ,:placeholder => "キーワードを入力" , class: "form__text_area_search ta_center "%>
  <%= f.submit "検索" , class: "button button_size_small button_color_blue "%>
  </div>
  <!--
  <%= f.label :categoies, "カテゴリー" %>
  <%= f.select :categories, @category_options.map{|t| [t.name, t.id]}, include_blank: true %>
  -->
<% end %>

<% if @circles.any? %>
  <% @circles.each do |circle| %>
    <div class="wrap_card">
      <%= render "circle_card", circle: circle %>
      <% if user_signed_in? %>
        <div id="favorite_form_<%= circle.id %>" class="restricted">
          <% @circle = circle %>
          <%= render !current_user.favorites.find_by(circle_id: @circle.id) ? "favorite" : "unfavorite" , circle: @circle %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
