<div class="aside__menu_wrap">
  <% if @be_member %>
    <div class="body_wrap"></div>
    <div class="aside__menu">
      <ul class="aside__menu_lists">
        <li class="aside__menu_list aside__menu_close">
          <%= link_to '閉じる', @circle, class: "wrap__link" %>
        </li>
        <li class="aside__menu_list"><%= link_to "サークル情報編集", [:edit, @circle] %></li>
      </ul>
    </div>
  <% end %>
</div>

<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <% if @categories.any? %>
  <% end %>
  <div class="header__background" style="background-image: url(<%= @circle.header_picture %>)"></div>
  <div class="header__photo_circle" style="background-image: url(<%= @circle.picture %>)"></div>
  <div class="header__change"></div>
  <% if @be_member %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
    <%= image_tag "foot.png" , class: "header__foot" %>
  <% end %>
</header>

<% if @categories.any? %>
  <p>
    <% @categories.each do |category| %>
      <div class="header__subhead_circle"><%= category.name %> | </div>
    <% end %>
  </p>
<% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li class="members__list_item">
          <% if user_signed_in? %>
            <%= link_to member, class: "members__image" do %>
              <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
            <% end %>
          <% else %>
            <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="ta_center">
    <% if @be_member %>
      <%= link_to "お問い合わせ一覧", [@circle, :contacts] , class: "button button_size_medium button_color_gray"%>
    <% else %>
      <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "button button_size_medium button_color_gray "%>
    <% end %>

    <% if @be_member %>
        <%= link_to "気になる一覧", [:favorited, @circle] , class: "button button_size_medium button_color_gray"%>
    <% end %>
    <% if !@be_member %>
      <% if @favoriting %>
        <%= link_to "気になる解除", [@circle, @favorite], method: :delete , class: "button button_size_medium button_color_gray"%>
      <% else %>
        <%= link_to "気になる", [@circle, :favorites], method: :post , class: "button button_size_medium button_color_gray "%>
      <% end %>
    <% end %>
  </div>

  <div class="ta_center">
    <% if @be_member %>
      <%= link_to "メンバー申請一覧", [@circle, :entries] , class: "button button_size_large button_color_gray"%>
    <% else %>
      <% if !@entrying %>
      <div class="ta_center">
        <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "button button_size_large button_color_blue"%>
      </div>
      <% else %>
        <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete , class: "button button_size_large button_color_blue"%>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="separate"></div>

<div class="description"><p><%= @circle.description %></p></div>


<div class="ta_center">
  <% if @be_member %>
    <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "button button_size_medium button_color_blue"%>
  <% end %>
  <% if @be_member %>
    <%= link_to "イベントを作成", [:new, @circle, :event] , class: "button button_size_medium button_color_blue"%>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">ブログ一覧(<%= @blogs.count %>)</h2>
  <% if @blogs.any? %>
    <ul class="frame__list">
      <% @blogs.each do |blog| %>
        <li class="thinCard">
          <%= link_to [@circle, blog], class: "wrap__link" do %>
            <div class="thinCard__image" style="background-image: url(<%= blog.picture %>)"></div>
            <p class="thinCard__heading"><%= blog.title %></p>
            <p class="thinCard__subhead"><%= blog.content %></p>
            <span class="thinCard__time"><%= blog.created_at.in_time_zone('Tokyo').strftime("%y/%m/%d  %k:%M") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="thinCard thinCard_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @events.count %>)</h2>
  <% if @events.any? %>
    <ul class="frame__list">
      <% @events.each do |event| %>
        <li class="thinCard">
          <%= link_to [@circle, event], class: "wrap__link" do %>
            <div class="thinCard__image" style="background-image: url(<%= event.picture %>)"></div>
            <p class="thinCard__heading"><%= event.title %></p>
            <p class="thinCard__subhead"><%= event.content %></p>
            <span class="thinCard__time"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="thinCard article_no">イベントがありません。</p>
  <% end %>
</div>



