<div class="aside__menu_wrap">
  <% if @be_member %>
    <div class="body_wrap"></div>
    <div class="sideMenu">
      <ul class="sideMenu__lists">
        <li class="sideMenu__item sideMenu_close">閉じる</li>
        <% if @status_num <= 1 %>
          <li class="sideMenu__item"><%= link_to "サークル情報編集", [:edit, @circle] %></li>
          <li class="sideMenu__item"><%= link_to "管理者設定", [:status, :edit, @circle] %></li>
          <li class="sideMenu__item"><%= link_to "メンバー用URL発行", [:key, @circle] %></li>
        <% end %>
        <li class="sideMenu__item"><%= link_to "サークル退団", [:resign, @circle], method: :delete %></li>
        <% if @status == "chief" %>
          <li class="sideMenu__item"><%= link_to "サークル削除", @circle, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <div class="header__background" style="background-image: url(<%= @circle.header_picture %>)"></div>
  <div class="header__photo_circle" style="background-image: url(<%= @circle.picture %>)"></div>
  <div class="header__change"></div>
  <% if @be_member %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
  <% end %>
</header>

<% if @categories.any? %>
    <div class="ta_center">
    <% @categories.each do |category| %>
        <div class="header__subhead_circle"><%= category.name %> | </div>
    <% end %>
    </div>
<% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @circle.members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li class="members__list_item">
          <% if user_signed_in? %>
            <%= link_to member, class: "members__image" do %>
              <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
            <% end %>
          <% else %>
            <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p style="text-align: right; padding-right: 0.2rem;"><%= link_to "もっと見る", [:members, @circle], style: "color: gray; text-decoration: none;" %></p>
  </div>
<% end %>

<div class="separate"></div>

<% if user_signed_in? %>
  <div class="ta_center">
    <% if @be_member %>
        <%= link_to "気になる一覧", [:favorited, @circle] , class: "button button_square button_color_gray"%>
    <% else %>
      <%# if @favoriting %>
        <%# link_to "気になる解除", [@circle, @favorite], method: :delete , class: "button button_size_medium button_color_gray"%>
      <%# else %>
        <%# link_to "気になる", [@circle, :favorites], method: :post , class: "button button_size_medium button_color_gray "%>
      <%# end %>
      <div id="favorite_form_<%= @circle.id %>">
        <%= render !current_user.favorites.find_by(circle_id: @circle.id) ? "favorite" : "unfavorite" , circle: @circle %>
      </div>
    <% end %>

    <% if @be_member %>
      <%= link_to "お問い合わせ", [@circle, :contacts] , class: "button button_square button_color_gray"%>
    <% else %>
      <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "button button_size_medium button_color_gray "%>
    <% end %>
  <!-- </div> -->

  <!-- <div class="ta_center"> -->
    <% if @be_member %>
      <%= link_to "メンバー申請", [@circle, :entries] , class: "button button_square button_color_gray"%>
    <% else %>
      <% if !@entrying %>
      <div class="ta_center">
        <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "button button_size_large button_color_blue"%>
      </div>
      <% else %>
        <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete , class: "button button_size_large button_color_blue"%>
      <% end %>
    <% end %>
  </div>
  <% if @be_member %>
    <div class="ta_center">
      <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "button button_square button_color_blue"%>
      <%= link_to "イベントを作成", [:new, @circle, :event] , class: "button button_square button_color_blue"%>
      <a href="" class="button button_square button_color_blue">イベント管理</a>
    </div>
  <% end %>
<% end %>

<div class="frame">
  <h2 class="frame__heading frame__heading_underline">サークル概要</h2>
  <div class="description"><%= simple_format(h(@circle.description)) %></div>
  <!-- <div class="description"><p><%# @circle.activity %></p></div> -->

  <h2 class="frame__heading frame__heading_underline">サークル詳細情報</h2>

  <table class="table">
    <tr>
      <th scope="row" class="table__head">参加大学</th>
      <td class="table__deta">明治大学</td>
    </tr>
    <tr>
      <th scope="row" class="table__head">団体人数</th>
      <td class="table__deta">30人</td>
    </tr>
    <tr>
      <th scope="row" class="table__head">活動場所</th>
      <td class="table__deta">御茶ノ水、他</td>
    </tr>
    <tr>
      <th scope="row" class="table__head">年会費</th>
      <td class="table__deta">3000円</td>
    </tr>
    <tr>
      <th scope="row" class="table__head">男女比</th>
      <td class="table__deta">5:5</td>
    </tr>
    <tr>
      <th scope="row" class="table__head">その他</th>
      <td class="table__deta">一緒に楽しみましょう！</td>
    </tr>
  </table>
</div>

<div class="frame frame_blog">
  <h2 class="frame__heading">ブログ一覧(<%= @circle.blogs.count %>)</h2>
  <% if @blogs.any? %>
    <%= render "shared/thin_cards", objects: @blogs %>
    <!-- <div class="thinCard thinCard_no">ブログをもっと見る</div> -->
  <% else %>
    <p class="thinCard thinCard_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @circle.events.count %>)</h2>
  <% if @events.any? %>
    <%= render "shared/thin_cards", objects: @events %>
  <% else %>
    <p class="thinCard thinCard_no">イベントがありません。</p>
  <% end %>
</div>

<div class="white_back"></div>
