<h1><%= @circle.name %></h1>
<p><%= @circle.description %></p>

<p>カテゴリー</p>

<% if @categories.any? %>
<p>
  <% @categories.each do |category| %>
    <span><%= category.name %> | </span>
  <% end %>
</p>
<% end %>

<% if @be_member %>
  <%= link_to "編集", edit_circle_path(@circle) %>
<% end %>

<% if !@be_member %>
  <%= link_to "お問い合わせ", [:new, @circle, :contact] %>
<% else %>
  <%= link_to "お問い合わせ一覧", [@circle, :contacts] %>
<% end %>

<% if @members.any? %>
  <div class="members_wrap">
    <h2>団体員(<%= @members.count %>)</h2>
    <ul>
      <% @members.each do |member| %>
        <li><%= link_to member.name, member %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="blog_wrap">
  <h2>ブログ一覧(<%= @blogs.count %>)</h2>
  <% if @blogs.any? %>
    <ul>
      <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, [@circle, blog] %></li>
      <% end %>
    </ul>
  <% else %>
    <p>ブログがありません。</p>
  <% end %>

  <% if @be_member %>
    <%= link_to "ブログを作成", [:new, @circle, :blog] %>
  <% end %>
</div>

<div class="event_wrap">
  <h2>イベント一覧(<%= @events.count %>)</h2>
  <% if @events.any? %>
    <ul>
      <% @events.each do |event| %>
        <li><%= link_to event.title, [@circle, event] %></li>
      <% end %>
    </ul>
  <% else %>
    <p>イベントがありません。</p>
  <% end %>

  <% if @be_member %>
    <%= link_to "イベントを作成", [:new, @circle, :event] %>
  <% end %>
</div>

<% if !@be_member %>
  <p>メンバー申請</p>
<% end %>