<div class="aside__menu_wrap">
  <% if @be_member %>
    <div class="body_wrap"></div>
    <div class="aside__menu">
      <ul class="aside__menu_lists">
        <li class="aside__menu_list aside__menu_close"><%= link_to '閉じる', @circle, class: "wrap__link" %></li>
        <li class="aside__menu_list"><%= link_to "サークル情報編集", [:edit, @circle] %></li>
        <li class="aside__menu_list"><%= link_to "サークル退団", [:resign, @circle], method: :delete %></li>
        <li class="aside__menu_list"><%= link_to "サークル削除", @circle, method: :delete %></li>
      </ul>
    </div>
  <% end %>
</div>

<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <div class="header__background" style="background-image: url(<%= @circle.header_picture %>)"></div>
  <div class="header__photo_circle" style="background-image: url(<%= @circle.picture %>)"></div>
  <div class="header__change"></div>
  <% if @be_member %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
  <% end %>
</header>

<% if @categories.any? %>
    <div class="ta_center">
    <% @categories.each do |category| %>
        <div class="header__subhead_circle"><%= category.name %> | </div>
    <% end %>
    </div>
<% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @circle.members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li class="members__list_item">
          <% if user_signed_in? %>
            <%= link_to member, class: "members__image" do %>
              <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
            <% end %>
          <% else %>
            <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p style="text-align: right; padding-right: 0.2rem;"><%= link_to "もっと見る", [:members, @circle], style: "color: gray; text-decoration: none;" %></p>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="ta_center">
    <% if @be_member %>
        <%= link_to "気になる一覧", [:favorited, @circle] , class: "button button_size_medium button_color_gray"%>
    <% else %>
      <% if @favoriting %>
        <%= link_to "気になる解除", [@circle, @favorite], method: :delete , class: "button button_size_medium button_color_gray"%>
      <% else %>
        <%= link_to "気になる", [@circle, :favorites], method: :post , class: "button button_size_medium button_color_gray "%>
      <% end %>
    <% end %>

    <% if @be_member %>
      <%= link_to "お問い合わせ一覧", [@circle, :contacts] , class: "button button_size_medium button_color_gray"%>
    <% else %>
      <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "button button_size_medium button_color_gray "%>
    <% end %>
  </div>

  <div class="ta_center">
    <% if @be_member %>
      <%= link_to "メンバー申請一覧", [@circle, :entries] , class: "button button_size_large button_color_gray"%>
    <% else %>
      <% if !@entrying %>
      <div class="ta_center">
        <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "button button_size_large button_color_blue"%>
      </div>
      <% else %>
        <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete , class: "button button_size_large button_color_blue"%>
      <% end %>
    <% end %>
  </div>
  <% if @be_member %>
    <div class="ta_center">
      <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "button button_size_medium button_color_blue"%>
      <%= link_to "イベントを作成", [:new, @circle, :event] , class: "button button_size_medium button_color_blue"%>
    </div>
  <% end %>
<% end %>

<div class="separate"></div>

<h2 class="frame__heading frame__heading_underline" style="margin-top: 30px;">サークル概要</h2>
<div class="description"><%= simple_format(h(@circle.description)) %></div>
<!-- <div class="description"><p><%# @circle.activity %></p></div> -->

<div class="frame frame_blog">
  <h2 class="frame__heading">ブログ一覧(<%= @circle.blogs.count %>)</h2>
  <% if @blogs.any? %>
    <%= render "shared/thin_cards", objects: @blogs %>
  <% else %>
    <p class="thinCard thinCard_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @circle.events.count %>)</h2>
  <% if @events.any? %>
    <%= render "shared/thin_cards", objects: @events %>
  <% else %>
    <p class="thinCard thinCard_no">イベントがありません。</p>
  <% end %>
</div>
