<% if @be_member %>
  <div class="body_wrap"></div>
  <div class="aside__menu">
    <ul class="aside__menu_lists">
      <li class="aside__menu_list aside__menu_close">閉じる</li>
      <li class="aside__menu_list"><%= link_to "サークル情報編集", [:edit, @circle] %></li>
    </ul>
  </div>
<% end %>

<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <% if @categories.any? %>
  <% end %>
  <div class="header__background" style="background-image: url(<%= @circle.header_picture %>)"></div>
  <div class="header__photo_circle" style="background-image: url(<%= @circle.picture %>)"></div>
  <div class="header__change"></div>
  <% if @be_member %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
    <%= image_tag "foot.png" , class: "header__foot" %>
  <% end %>
</header>

<% if @categories.any? %>
  <p>
    <% @categories.each do |category| %>
      <div class="header__subhead_circle"><%= category.name %> | </div>
    <% end %>
  </p>
<% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li class="members__list_item">
          <%= link_to member , class: "members__image" do %>
            <div class="members__image" style="background-image: url(<%= member.picture %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <a class="members__more" href="">もっと見る>></a>
  </div>
<% end %>

<div class="ta_center">
  <% if @be_member %>
    <%= link_to "お問い合わせ一覧", [@circle, :contacts] , class: "buttun buttun_size_medium buttun_color_gray"%>
  <% else %>
    <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "buttun buttun_size_medium buttun_color_gray "%>
  <% end %>

  <% if @be_member %>
      <%= link_to "気になる一覧", [:favorited, @circle] , class: "buttun buttun_size_medium buttun_color_gray"%>
  <% end %>
  <% if !@be_member %>
    <% if @favoriting %>
      <%= link_to "気になる解除", [@circle, @favorite], method: :delete , class: "buttun buttun_size_medium buttun_color_gray"%>
    <% else %>
      <%= link_to "気になる", [@circle, :favorites], method: :post , class: "buttun buttun_size_medium buttun_color_gray "%>
    <% end %>
  <% end %>
</div>
<div class="ta_center">
  <% if @be_member %>
    <%= link_to "メンバー申請一覧", [@circle, :entries] , class: "buttun buttun_size_large buttun_color_gray"%>
  <% else %>
    <% if !@entrying %>
    <div class="ta_center">
      <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "buttun buttun_size_large buttun_color_blue"%>
    </div>
    <% else %>
      <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete %>
    <% end %>
  <% end %>
</div>

<div class="separate"></div>

<p><%= @circle.description %></p>

<div class="ta_center">
  <% if @be_member %>
    <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "buttun buttun_size_medium buttun_color_blue"%>
  <% end %>
  <% if @be_member %>
    <%= link_to "イベントを作成", [:new, @circle, :event] , class: "buttun buttun_size_medium buttun_color_blue"%>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">ブログ一覧(<%= @blogs.count %>)</h2>
  <% if @blogs.any? %>
    <ul class="frame__list">
      <% @blogs.each do |blog| %>
        <li class="article">
          <div class="article__image" style="background-image: url(<%= blog.picture %>)"></div>
          <%= link_to blog.title, [@circle, blog] , class: "article__heading"%>
          <p class="article__text">ここにテキストが入ります</p>
          <span class="article__time">日付</span>
        </li>
      <% end %>
    </ul>
    <a class="frame__more" href="">もっと見る>></a>
  <% else %>
    <p class="article article_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @events.count %>)</h2>
  <% if @events.any? %>
    <ul class="frame__list">
      <% @events.each do |event| %>
        <li class="article">
          <div class="article__image" style="background-image: url(<%= event.picture %>)"></div>
          <%= link_to event.title, [@circle, event] , class: "article__heading"%>
          <p class="article__text">ここにテキストが入ります</p>
          <span class="article__time">日付</span>
        </li>
      <% end %>
    </ul>
    <a class="frame__more" href="">もっと見る>></a>
  <% else %>
    <p class="article article_no">イベントがありません。</p>
  <% end %>
</div>



