<div class="aside__menu_wrap">
  <% if @be_member %>
    <div class="body_wrap"></div>
    <div class="sideMenu">
      <ul class="sideMenu__lists">
        <li class="sideMenu__item sideMenu_close">閉じる</li>
        <% if @status_num <= 1 %>
          <li class="sideMenu__item"><%= link_to "サークル情報編集", [:edit, @circle] %></li>
          <li class="sideMenu__item"><%= link_to "管理者設定", [:status, :edit, @circle] %></li>
          <li class="sideMenu__item"><%= link_to "メンバー追加", [:key, @circle] %></li>
          <li class="sideMenu__item"><%= link_to "その他", [:rest, @circle] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <div class="header__background c_picture" style="background-image: url(<%= @circle.header_picture %>)"></div>
  <div class="header__photo_circle c_picture" style="background-image: url(<%= @circle.picture %>)"></div>
  <div class="header__change"></div>
  <% if @be_member %>
    <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
  <% end %>
</header>

<% if @categories.any? %>
    <div class="header__subhead_circle">
      <%= @circle.display_categories %>
    </div>
<% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @circle.members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li class="members__list_item">
          <%= link_to member, class: "members__image" do %>
            <div class="members__image c_picture" style="background-image: url(<%= member.picture %>)"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <p style="text-align: right; padding-right: 0.2rem;"><%= link_to "もっと見る", [:members, @circle], style: "color: gray; text-decoration: none;" %></p>
  </div>
<% end %>

<div class="separate"></div>

<% if user_signed_in? %>
  <div class="ta_center">
    <% if @be_member %>
        <% if @status_num <= 1 %>
          <%= link_to "気になる一覧", [:favorited, @circle] , class: "button button_square button_color_gray"%>
        <% end %>
    <% else %>
      <div id="favorite_form_<%= @circle.id %>" class="restricted">
        <!-- <div class="wrap_favorites">
          <div class="favorites_icon"></div>
        </div> -->
        <%= render !current_user.favorites.find_by(circle_id: @circle.id) ? "favorite" : "unfavorite" , circle: @circle %>
      </div>
    <% end %>

    <% if @be_member %>
      <% if @status_num <= 1 %>
        <%= link_to "お問い合わせ", [@circle, :contacts] , class: "button button_square button_color_gray" %>
      <% end %>
    <% else %>
      <!-- <%# link_to "お問い合わせ", [:new, @circle, :contact] , class: "button button_size_large button_color_gray restricted" %> -->
    <% end %>

    <% if @be_member %>
      <% if @status_num <= 1 %>
        <%= link_to "メンバー申請", [@circle, :entries] , class: "button button_square button_color_gray"%>
      <% end %>
    <% else %>
      <!--<% if !@entrying %>
      <div class="ta_center">
        <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "button button_size_large button_color_blue restricted"%>
      </div>
      <% else %>
        <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete , class: "button button_size_large button_color_blue"%>
      <% end %>-->
    <% end %>
  </div>
  <% if @be_member %>
    <% if @status_num <= 2 %>
      <div class="ta_center">
        <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "button button_square button_color_blue"%>
        <%= link_to "イベントを作成", [:new, @circle, :event] , class: "button button_square button_color_blue"%>
        <!-- <a href="" class="button button_square button_color_blue"></a> -->
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="frame">
  <h2 class="frame__heading frame__heading_underline">サークル概要</h2>
  <div class="description"><%= simple_format(h(@circle.description)) %></div>

  <h2 class="frame__heading frame__heading_underline">サークル詳細情報</h2>

  <table class="table">
    <% @informations.each do |key, value| %>
      <tr>
        <th scope="row" class="table__head"><%= value %></th>
        <% if key == :joining_colleges %>
          <td class="table__deta"><%= @circle.joining_college_list.each{|c|print c} %></td>
        <% else %>
          <td class="table__deta">
            <%= @circle[key] %>
            <%= "人" if !@circle[key].blank? && key == :people_scale %>
            <%= "円" if !@circle[key].blank? && key == :annual_fee %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="frame frame_blog">
  <h2 class="frame__heading">ブログ一覧(<%= @circle.blogs.count %>)</h2>
  <% if @blogs.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/blog_cards" %>
      <li><%= link_to "もっと見る", [@circle, :blogs], class: "thinCard thinCard__more" %></li>
    </ul>
  <% else %>
    <p class="thinCard thinCard_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @circle.events.count %>)</h2>
  <% if @events.any? %>
    <ul class="wrap-thinCard">
      <%= render "shared/event_cards"%>
      <li><%= link_to "もっと見る", [@circle, :events], class: "thinCard thinCard__more" %></li>
    </ul>
  <% else %>
    <p class="thinCard thinCard_no">イベントがありません。</p>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="ta_center margin_top_2rem">
    <% if @be_member %>
        <% if @status_num <= 1 %>
          <%= link_to "気になる一覧", [:favorited, @circle] , class: "button button_square button_color_gray"%>
        <% end %>
    <% else %>
      <div id="favorite_form_<%= @circle.id %>" class="restricted">
        <%= render !current_user.favorites.find_by(circle_id: @circle.id) ? "favorite" : "unfavorite" , circle: @circle %>
      </div>
    <% end %>

    <% if @be_member %>
      <% if @status_num <= 1 %>
        <%= link_to "お問い合わせ", [@circle, :contacts] , class: "button button_square button_color_gray" %>
      <% end %>
    <% else %>
      <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "button button_size_large button_size_large_contact button_color_white restricted" %>
    <% end %>

    <% if @be_member %>
      <% if @status_num <= 1 %>
        <%= link_to "メンバー申請", [@circle, :entries] , class: "button button_square button_color_gray"%>
      <% end %>
    <% else %>
      <% if !@entrying %>
      <!-- <div class="ta_center"> -->
        <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "button button_size_large button_size_large_member button_color_blue restricted"%>
      <!-- </div> -->
      <% else %>
        <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete , class: "button button_size_large button_color_blue restricted"%>
      <% end %>
    <% end %>
  </div>
  <% if @be_member %>
    <% if @status_num <= 2 %>
      <div class="ta_center">
        <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "button button_square button_color_blue"%>
        <%= link_to "イベントを作成", [:new, @circle, :event] , class: "button button_square button_color_blue"%>
      </div>
    <% end %>
  <% end %>
<% end %>

<!-- js関連 -->
<% if @be_member %>
  <div class="circle__image_zoom" id="circle__picture">
    <div class="circle__image c_picture" style="background-image: url(<%= @circle.picture %>);"></div>
    <%= link_to "プロフィール編集", [:edit, @circle] , class: "button button_border"%>
    <p class="button button_border">閉じる</p>
  </div>

  <div class="circle__image_zoom" id="circle__header_picture">
    <div class="circle__image c_picture" style="background-image: url(<%= @circle.header_picture %>);"></div>
    <%= link_to "プロフィール編集", [:edit, @circle] , class: "button button_border"%>
    <p class="button button_border">閉じる</p>
  </div>

  <div class="white_back"></div>

  <% if @status_num <= 1 %>
    <div id="line_at">
      <div class="alert">LINE@のポップアップ</div>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if @be_member %><span id="be_member"></span><% end %>
<% end %>
<script type="text/javascript">
  $(function(){

    var be_member = $("#be_member")[0];

    $(".circle__image_zoom").hide();
    if (be_member) {
      $(".header__photo_circle").on("click",function(){
        $("#circle__picture").fadeIn(100);
      });
      $(".header__background").on("click",function(){
        $("#circle__header_picture").fadeIn(100);
      });
      $(".circle__image_zoom").on("click",function(){
        $(".circle__image_zoom").fadeOut(100);
      });
    }

    // LINE@
    $(".line_at").hide();
    if ($(".flash_message").is(":contains('作成完了')") ) {
    }
  });
</script>

