<header class="header">
  <h1 class="header__name_circle"><%= @circle.name %></h1>
  <% if @categories.any? %>
  <% end %>
  <div class="header__background"></div>
  <div class="header__photo_circle"></div>
  <div class="header__change"></div>
  <%= image_tag "menu.svg" , class: "header__menu_humberger" %>
  <%= image_tag "foot.png" , class: "header__foot" %>
</header>

<!--<% if @be_member %>
    <%= link_to "編集", edit_circle_path(@circle) %>
  <% end %>-->
  <!-- カテゴリー -->
  <% if @categories.any? %>
    <p>
      <% @categories.each do |category| %>
        <div class="header__subhead_circle"><%= category.name %> | </div>
      <% end %>
    </p>
  <% end %>

<% if @members.any? %>
  <div class="members">
    <h2 class="members__heading">メンバー(<%= @members.count %>)</h2>
    <ul class="members__list">
      <% @members.each do |member| %>
        <li>
          <%= link_to member.name, member , class: "members__name" %>
          <div class="members__image"></div>
        </li>
      <% end %>
    </ul>
    <a class="members__more" href="">もっと見る>></a>
  </div>
<% end %>

<div class="ta_center">
  <% if @be_member %>
    <%= link_to "お問い合わせ一覧", [@circle, :contacts] , class: "buttun buttun_size_medium buttun_color_gray"%>
  <% else %>
    <%= link_to "お問い合わせ", [:new, @circle, :contact] , class: "buttun buttun_size_medium buttun_color_gray"%>
    <div class="buttun buttun_size_medium buttun_color_gray">気になる</div>
  <% end %>

  <% if @be_member %>
    <%= link_to "メンバー申請一覧", [@circle, :entries] , class: "buttun buttun_size_medium buttun_color_gray"%>
  <% else %>
    <% if !@entrying %>
    <div class="ta_center">
      <%= link_to "メンバー申請", [@circle, :entries], method: :post , class: "buttun buttun_size_large buttun_color_blue"%>
    </div>
    <% else %>
      <%= link_to "メンバー申請キャンセル", [@circle, @entry], method: :delete %>
    <% end %>
  <% end %>
</div>

<div class="ta_center">
  <% if @be_member %>
    <%= link_to "ブログを作成", [:new, @circle, :blog] , class: "buttun buttun_size_medium buttun_color_blue"%>
  <% end %>
  <% if @be_member %>
    <%= link_to "イベントを作成", [:new, @circle, :event] , class: "buttun buttun_size_medium buttun_color_blue"%>
  <% end %>
</div>

<p><%= @circle.description %></p>

<div class="frame">
  <h2 class="frame__heading">ブログ一覧(<%= @blogs.count %>)</h2>
  <% if @blogs.any? %>
    <ul class="frame__list">
      <% @blogs.each do |blog| %>
        <li class="article">
          <div class="article__image"></div>
          <%= link_to blog.title, [@circle, blog] , class: "article__heading"%>
          <p class="article__text">ここにテキストが入ります</p>
          <span class="article__time">日付</span>
        </li>
      <% end %>
    </ul>
    <a class="frame__more" href="">もっと見る>></a>
  <% else %>
    <p class="article article_no">ブログがありません。</p>
  <% end %>
</div>

<div class="frame">
  <h2 class="frame__heading">イベント一覧(<%= @events.count %>)</h2>
  <% if @events.any? %>
    <ul class="frame__list">
      <% @events.each do |event| %>
        <li class="article">
          <div class="article__image"></div>
          <%= link_to event.title, [@circle, event] , class: "article__heading"%>
          <p class="article__text">ここにテキストが入ります</p>
          <span class="article__time">日付</span>
        </li>
      <% end %>
    </ul>
    <a class="frame__more" href="">もっと見る>></a>
  <% else %>
    <p class="article article_no">イベントがありません。</p>
  <% end %>
</div>



