<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><%= link_to image_tag('top.svg'), root_path %></li>
    <li class="nav__item"><%= link_to image_tag('search.svg'), [:feed, :circles] %></li>
    <li class="nav__item"><%= link_to_if(user_signed_in?, image_tag('message.svg'), :message_rooms) %>
      <% if user_signed_in? && current_user.new_messages_count && 0 < current_user.new_messages_count %>
        <div class="nav__notice"><%= current_user.new_messages_count %></div>
      <% end %>
    </li>
    <li class="nav__item"><%= link_to_if(user_signed_in?, image_tag('notice.svg'), :notifications) %>
      <% if user_signed_in? && current_user.new_notifications_count && 0 < current_user.new_notifications_count %>
        <div class="nav__notice"><%= current_user.new_notifications_count %></div>
      <% end %>
    </li>
    <li class="nav__item"><%= link_to_if(user_signed_in?, image_tag('mypage.svg'), current_user) %></li>
  </ul>
</nav>