<nav class="nav">
  <ul>
    <li><%= link_to image_tag('top.svg'), root_path %></li>
    <li><%= link_to_if(logged_in?, image_tag('search.svg') ) %></li>
    <li><%= link_to_if(logged_in?, image_tag('message.svg') ) %></li>
    <li><%= link_to_if(logged_in?, image_tag('notice.svg') ) %></li>
    <li><%= link_to_if(logged_in?, image_tag('mypage.svg'), current_user) %></li>
  </ul>
</nav>