<nav>
  <%= link_to image_tag('top.jpg'), root_path %>
  <%= link_to_if(logged_in?, image_tag('search.jpg') ) %>
  <%= link_to_if(logged_in?, image_tag('message.jpg') ) %>
  <%= link_to_if(logged_in?, image_tag('alertion.jpg') ) %>
  <%= link_to_if(logged_in?, image_tag('mypage.jpg'), current_user) %>
  <% if logged_in? %>
    <%= link_to "ログアウト", logout_path, method: "delete" %>
  <% else %>
    <%= link_to "ログイン", login_path %>
  <% end %>
</nav>