<!DOCTYPE html>
<html>
<head>
  <title>UnionWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-whidth, initial-scale=1.0">
</head>
<body>
  <% if !(params[:controller] == "message_rooms" && params[:action] == "show") %>
  <div class="whole_wrap">
  <% end %>
    <%= render 'layouts/nav' %>
    <% flash.each do |message_type, message| %>
      <div class="flash_message"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

  <% if !(params[:controller] == "message_rooms" && params[:action] == "show") %>
    <footer class="footer">
      <p><%= link_to "プライバシーポリシー", :privacypolicy, style: "color: gray; text-decoration: none;" %></p>
      <p class="footer__copyright">COPYRIGHT &#169; 2017 UNION ALL RIGHTS RESERVED. </p>
    </footer>
    <% end %>
  <%= debug(params) if Rails.env.development? %>
  <div id="alert_background">
    <div id="alertbox">
      <p>登録を完了させてください。</p>
      <a href="https://www.google.co.jp/webhp?hl=ja" id="ok" class="button button_size_medium button_color_blue">登録</a>
    </div>
  </div>
</body>
</html>

