<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('favicon.ico') %>
  <%= analytics_init if ENV["RACK_ENV"] == "production" %>

  <%= show_meta_tags %>
  <meta property="og:title" content="Union〜理想のキャンパスライフをあなたに〜" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.union-frc.com/" />
  <meta property="og:image" content="https://www.union-frc.com/unionlogo_tutorial.png" />
  <meta property="og:site_name" content="Union" />
  <meta property="og:description" content="Unionはサークル版のSNSです。" />
  <meta name="viewport" content="width=device-whidth, initial-scale=1.0">
</head>
<body>
  <% if !(params[:controller] == "message_rooms" && params[:action] == "show") %>
    <div class="whole_wrap">
  <% end %>
  <%= render 'layouts/nav' %>
  <div class="nav_topcover"></div>
  <% flash.each do |message_type, message| %>
    <div class="flash_message flash_message-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

  <% if !(params[:controller] == "message_rooms" && params[:action] == "show") %>
    <footer class="footer">
      <p><%= link_to "プライバシーポリシー", :privacypolicy, style: "color: gray; text-decoration: none;" %></p>
      <p class="footer__copyright">COPYRIGHT &#169; 2017 UNION ALL RIGHTS RESERVED. </p>
    </footer>
    </div>
  <% end %>

  <%= render "layouts/restriction" %>
  <%= render "layouts/only_sp" %>

  <% if Rails.env.development? %>
    <%= debug(params) %>
    <%= form_tag :switch do %>
      <%= text_field_tag :id %>
      <%= submit_tag "変更" %>
    <% end %>
  <% end %>
</body>
</html>
